<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../static/images/favicon.ico"/>

    <title>一线考核系统</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/css/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/css/grid.css" rel="stylesheet"/>
   
  </head>
  
  <body>
      <div class="container border1">
    	<div class="row">
	    	<div class="page-header">
	          <h1>日常工作一线干部考核情况督查登记表（         月）</h1>
	        </div>
    	</div>
    	<div class="row">
    		<div class="FlexRow">
    			<div class="FlexItem FlexItem-md-16">
    		
    			</div>
    			<div class="FlexItem FlexItem-md-4 " style="text-align: right;">
    				填表日期:
    			</div>
    			<div class="FlexItem FlexItem-md-4">
    				2016-9-10
    			</div>
    		</div>
    		
    	</div>
    	<div class="row">
    		<div class="FlexRow">
    			<div class="FlexItem FlexItem-md-2">
    				姓名			
    			</div>
    			<div class="FlexItem FlexItem-md-6">
    				<input type="text" name="" readonly="true" value="老王"/>			
    			</div>   
    			<div class="FlexItem FlexItem-md-2">
    				部门
    			</div>   
    			<div class="FlexItem FlexItem-md-6">
    				<input type="text" name="" readonly="true" value="新媒体中心"/>
    			</div>   
    			<div class="FlexItem FlexItem-md-2">
    				职务			
    			</div>   
    			<div class="FlexItem FlexItem-md-6">
    				<input type="text" name="" readonly="true" value="技术总监"/>	
    			</div>       			
    		</div>
    	</div>
    	<div class="row">
    		<div class="FlexRow">
    			<div class="FlexItem2 FlexItem-md-1">
    				个人自评
    			</div >
    			<div class="FlexItem2 FlexItem-md-23">
    				<div class="FlexColumn">
    					<div class="FlexItem FlexItem-vd-17">
    						<div class="FlexRow">
    							<div class="FlexItem FlexItem-md-1">
    								月工作推进情况
    							</div>
    							<div class="FlexItem FlexItem-md-6">
    								<div class="FlexColumn">
    									<div class="FlexItem FlexItem-vd-3">
    										工作项目
    									</div>
    									<div class="FlexItem FlexItem-vd-17">
    										<textarea name="">xxxxxxxxxxxxxxxx</textarea> 
    									</div>
    								</div>
    							</div>
    							<div class="FlexItem FlexItem-md-6">
    								<div class="FlexColumn">
    									<div class="FlexItem FlexItem-vd-3">
    										进展情况
    									</div>
    									<div class="FlexItem FlexItem-vd-17">
    										xxxxxxxxxxxxxxxxx
    									</div>
    								</div>
    							</div>
    							<div class="FlexItem FlexItem-md-6">
    								<div class="FlexColumn">
    									<div class="FlexItem FlexItem-vd-3">
    										加分
    									</div>
    									<div class="FlexItem FlexItem-vd-2">
    										加分分数：
    									</div>
    									<div class="FlexItem FlexItem-vd-2">
    										加分依据：
    									</div>
    									<div class="FlexItem FlexItem-vd-2">
    										加分原因：
    									</div>
    									<div class="FlexItem FlexItem-vd-11">
    										xxxxxxxxxxxxxxxxx
    									</div>
    									
    								</div>
    							</div>
    							<div class="FlexItem FlexItem-md-6">
    								<div class="FlexColumn">
    									<div class="FlexItem FlexItem-vd-3">
    										加分
    									</div>
    									<div class="FlexItem FlexItem-vd-2">
    										加分分数：
    									</div>
    									<div class="FlexItem FlexItem-vd-2">
    										加分依据：
    									</div>
    									<div class="FlexItem FlexItem-vd-2">
    										加分原因：
    									</div>
    									<div class="FlexItem FlexItem-vd-11">
    										xxxxxxxxxxxxxxxxx
    									</div>
    								</div>
    							</div>
    						</div>

    					
    					</div>
    					<div class="FlexItem FlexItem-vd-3">
    						<div class="FlexRow">
    							<div class="FlexItem FlexItem-md-2">
    								存在问题
    							</div>
    							<div class="FlexItem FlexItem-md-11">
    								wxxxxxxxxxxxxxxxxx
    							</div>
    							<div class="FlexItem FlexItem-md-2">
    								分值
    							</div>
    							<div class="FlexItem FlexItem-md-10">
    								95分
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    	<div class="row">
    		<div class="FlexRow">
    			<div class="FlexItem FlexItem-md-3">
    				考勤情况
    			</div>
    			<div class="FlexItem FlexItem-md-21">
    				<input type="text" name=""  value="继续努力"/>
    			</div>
    		</div>
    	</div>
    	<div class="row">
    		<div class="FlexRow">
    			<div class="FlexItem FlexItem-md-3">
    				督查点评
    			</div>
    			<div class="FlexItem FlexItem-md-21">
    				<input type="text" name=""  value="继续努力"/>
    			</div>
    		</div>
    	</div>
    	<div class="row">
    		<div class="FlexRow">
    			<div class="FlexItem FlexItem-md-3">
    				领导点评
    			</div>
    			<div class="FlexItem FlexItem-md-21">
    				<input type="text" name=""  value="继续努力"/>
    			</div>
    		</div>
    	</div>
    	<div class="row">
    		<div class="FlexRow">
    			<div class="FlexItem FlexItem-md-3">
    				组织点评
    			</div>
    			<div class="FlexItem FlexItem-md-21">
    				<input type="text" name=""  value="继续努力"/>
    			</div>
    		</div>
    	</div>
    	<div class="row">
    		<div class="FlexRow">
    			<div class="FlexItem FlexItem-md-3">
    				群众点评
    			</div>
    			<div class="FlexItem FlexItem-md-21">
    				<input type="text" name=""  value="继续努力"/>
    			</div>
    		</div>
    	</div>
    	<div class="row">
    		<div class="FlexRow">
    			<div class="FlexItem FlexItem-md-3">
    				备注
    			</div>
    			<div class="FlexItem FlexItem-md-21">
    				<input type="text" name=""  value="继续努力"/>
    			</div>
    		</div>
    	</div>
    	<div class="row text-center">
           <button type="submit" class="btn btn-lg btn-success">保存</button>
           <button type="button" class="btn btn-lg btn-default">返回</button>
        </div>
    </div>

  
  
  
    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-3.2.1.js"></script>

    <script src="/js/bootstrap.min.js"></script>
 
    <script src="/js/holder.min.js"></script>
    
    <script src="/js/bootstrap-select.min.js"></script>
  </body>
</html>
