<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../static/images/favicon.ico"/>

    <title>月度工作考核</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/grid.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    
    <link href="/css/bootstrap-select.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>
     
   

    <script src="/css/ie-emulation-modes-warning.js"></script>

       <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-3.2.1.js"></script>

    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/holder.min.js"></script>

    <script src="/js/bootstrap-select.min.js"></script>
    
    <script src="/js/moment-with-locales.min.js"></script>
    
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    
        <!-- 日期 -->
    <script src="/js/DateUtils.js"></script>
    
    <!-- autosize -->
    <script src="/js/plugins/autosize.js"></script>
    <!-- 前端打印 -->
    <script src="/js/plugins/jQuery.print.js"></script>
  </head>

<body>
 <style>
	textarea{
		
		resize : none;

	}

</style>
<!-- 去掉页眉页脚 -->
<style media="print">
    @page {
      size: auto;  /* auto is the initial value */
      margin: 0mm 0mm 0mm 0mm; /* this affects the margin in the printer settings */
    }
</style>
       <button id="print" class="pull-right btn-lg btn-primary " >
              
             <span class="glyphicon glyphicon-print" aria-hidden="true">打印</span>
       </button>
      <div id="content" class="container border1">
        <form id="f1" method="post"  th:object="${evaluation}">
		 <input type="text" th:value="*{processBean.deploymentId}" th:field="*{processBean.deploymentId}" style="display:none;"/>
         <input type="text" th:value="*{processBean.businessKey}" th:field="*{processBean.businessKey}" style="display:none;"/>
         <input type="text" th:value="*{processBean.firstTaskId}" th:field="*{processBean.firstTaskId}" style="display:none;"/>
         <input type="text" th:value="*{processBean.processInstanceId}" th:field="*{processBean.processInstanceId}" style="display:none;"/>
         <input type="text" th:value="*{eId}" th:field="*{eId}" style="display:none;"/>
    	<div class="row">
	    	<div class="page-header">
              
	           
	           <h2 style="text-align:center;">日常工作一线干部(工作人员)<span th:text="*{#strings.substring(sparation,0,8)}"></span>考评情况</h2>
	    
	          
	        </div>
    	</div>
    	<div class="row">
    		<div class="FlexRow">
    			<div class="FlexItem FlexItem-md-6">
    		                   <p>表格类型</p>
    			</div>
    			<div class="FlexItem FlexItem-md-6 ">
    			    <input type="text" th:value="*{startDate}" th:field="*{startDate}" readOnly="true"  style="display:none;"/>
    			    <input type="text" th:value="*{endDate}" th:field="*{endDate}" readOnly="true"  style="display:none;"/>
    			    <input type="text" th:value="*{sparation}" th:field="*{sparation}" readOnly="true"/>
    			</div>
    			<div class="FlexItem FlexItem-md-6">
    		            <p> 填表日期:</p>
    			</div>
    			<div class="FlexItem FlexItem-md-7">
    		        <input type="text" name="" readonly="true" th:value="${#dates.format(evaluation.createTime,'yyyy-MM-dd')}"/>
    			</div>
    		</div>
    		
    	</div>
    	<div class="row">
    		<div class="FlexRow">
    			<div class="FlexItem FlexItem-md-2">
    				<p>姓名</p>			
    			</div>
    			<div class="FlexItem FlexItem-md-4">
    			      
    				<input type="text" name="" readonly="true" th:value="*{processBean.user.username}"/>			
    			</div>   
    			<div class="FlexItem FlexItem-md-4">
    				<p>部门</p>
    			</div>   
    			<div class="FlexItem FlexItem-md-8">
    				<input type="text" name="" readonly="true" th:value="*{processBean.deptName}" th:field="*{processBean.deptName}"/>
    			</div>   
    			<div class="FlexItem FlexItem-md-2">
    				<p>职务</p>		
    			</div>   
    			<div class="FlexItem FlexItem-md-7">
    				<input type="text" name="" readonly="true"  th:value="*{processBean.user.position}" th:field="*{processBean.user.position}" />	
    			</div>       			
    		</div>
    	</div>
    	
    	<div class="row">
    	   <div class="FlexRow">
	    		<div class="FlexItem FlexItem-md-1">
	    				<p>半<br/>年<br/>工<br/>作<br/>总<br/>结</p>
	    			</div>
	    		<div class="FlexItem FlexItem-md-24">
	    			<textarea style="height:100%;" id="employee_1" class="form-control input-lg"  rows="10" cols="" th:field="*{selfEvaluation}" th:value="*{selfEvaluation}"  readonly="true" ></textarea>
	    		</div>
    		</div>
    	</div>	
    	<div class="row">
    	  <div class="FlexRow" style="height:50px;">
	    		<div class="FlexItem FlexItem-md-3">
	    				<p>领导点评</p>
	    			</div>
	    		<div class="FlexItem FlexItem-md-3">
	    			<select id="leader_1"  th:field="*{leadershipEvaluation}" disabled="disabled"  th:value="*{leadershipEvaluation}"  class="form-control input-lg" style="height:100%;">
					    <option value=""></option>
						<option th:each="r:${remarks}" th:value="${r.value}" th:text="${r.value}"></option>

					</select>
	    		</div>
	    		<div class="FlexItem FlexItem-md-19" >
    				<textarea id="leader_2" class="form-control input-lg" placeholder="领导简评" rows="" cols="" th:value="*{leadershipRemark}" th:field="*{leadershipRemark}" disabled="disabled" readonly="true" style="height:100%;"></textarea>
    			</div>
    		</div>
    	</div>
    	<div class="row">
    	  <div class="FlexRow">
	    		<div class="FlexItem FlexItem-md-3">
	    				<p>群众评议<br/>&nbsp;&nbsp;情况</p>
	    			</div>
	    		<div class="FlexItem FlexItem-md-3">
	    		  <input id="overseer_1" type="number" th:field="*{publicEvaluation}" th:value="*{publicEvaluation}" step="0.01" readonly="true"></input>
	    			<!-- <select id="overseer_1"  th:field="*{publicEvaluation}"  th:value="*{publicEvaluation}" disabled="true" class="form-control input-lg" style="height:100%;">
					     <option value=""></option>
						<option th:each="r:${remarks}" th:value="${r.value}" th:text="${r.value}"></option>
					</select> -->
	    		</div>
                <div class="FlexItem FlexItem-md-19">
    				<textarea id="overseer_2" class="form-control input-lg" placeholder="群众评价" rows="3" cols="" th:value="*{publicRemark}" th:field="*{publicRemark}"  readonly="true" ></textarea>
    			</div>
    		</div>
    	</div>
    	<div class="row">
    	  <div class="FlexRow">
	    		<div class="FlexItem FlexItem-md-3">
	    				<p>组织考评</p>
	    		</div>
	    		<div class="FlexItem FlexItem-md-3">
	    		    <!--<input id="overseer_3" type="number" th:field="*{overseerEvaluation}" th:value="*{overseerEvaluation}" step="0.01" readonly="true"></input>-->
	    			  <select id="overseer_3"  th:field="*{overseerEvaluation}" th:value="*{overseerEvaluation}" disabled="true" class="form-control input-lg" style="height:100%;">
					    <option value=""></option>
						<option th:each="r:${remarks}" th:value="${r.value}" th:text="${r.value}"></option>
					</select>
					
	    		</div>
	    		<div class="FlexItem FlexItem-md-19">
    				<textarea id="overseer_4" class="form-control input-lg" placeholder="" rows="" cols="" th:value="*{overseerRemark}" th:field="*{overseerRemark}" disabled="true" readonly="true" ></textarea>
    			</div>
    		</div>
    	</div>
    	
    	<div class="row" id="mark">
     	  <div class="FlexRow" style="height:50px;">
     	  		<div class="FlexItem FlexItem-md-3">
	    				<p>考评结果</p>
	    		</div>
	    		<div class="FlexItem FlexItem-md-5">
	    			<select id="overseer_5"  th:field="*{result}" th:value="*{result}" disabled="disabled"  class="form-control input-lg" style="height:100%;">
					    <option value=""></option>
						<option th:each="r:${remarks}" th:value="${r.value}" th:text="${r.value}"></option>
					</select>
	    		</div>
	    		<div class="FlexItem FlexItem-md-3">
	    				<p>考评总分</p>
	    		</div>
	    		<div class="FlexItem FlexItem-md-5">
	    			<p><input id="totalMark" type="number" th:field="*{totalMark}" th:value="*{totalMark}" step="0.01" readonly="true"></input></p>
	    		</div>
	    		<div class="FlexItem FlexItem-md-3">
	    				<p>考核量化分</p>
	    		</div>  
                       
	    		<div class="FlexItem FlexItem-md-6" ><a href="javascript:void(0);" th:onclick="'javascript:getDetailsOfMarks(\''+${evaluation.processBean.user.id}+'\',\''+${#dates.format(evaluation.startDate,'yyyy-MM-dd')}+'\',\''+${#dates.format(evaluation.endDate,'yyyy-MM-dd')}+'\',1);'">
	    		<p><input id="marks" type="number" th:field="*{marks}" th:value="*{marks}" step="0.01" readonly="true"></input></p></a></div>
    		</div>
    	</div>

    	<div class="row">
     	  <div class="FlexRow">
	    		<div class="FlexItem FlexItem-md-3">
	    				<p>备注</p>
	    			</div>
	    		<div class="FlexItem FlexItem-md-22"></div>
    		</div>
    	</div>
    	
    	<div class="row text-center">
           <button  id="submit" type="submit" class="btn btn-lg btn-success">提交</button>
           <button  id="save" type="submit" class="btn btn-lg btn-default">保存</button>
           <button  id="save1" type="submit" class="btn btn-lg btn-default" style="display:none;">保存</button>
        </div>
	   </form>
    </div>
 <!-- Button trigger modal -->
    <style>

    	td,th{
    		border: 1px solid #999;
    		white-space: normal;
    		padding:10px;
   
    	}
    </style>
        <button  id="modalButton" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalTable" style="display:none;">点击查看</button>
        <div class="modal fade" id="modalTable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">加减分明细</h4>
                    </div>
                    <div class="modal-body">
                        <table id="table"
                               data-toggle="table"
                               data-height="499"
                              >
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>生成日期</th>
                                <th>评分原因</th>
                                <th>评分依据</th>
                                <th>评分</th>
                                
                            </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->  
    <script th:inline="javascript">
       //<![CDATA[
        var identity=[[${identity}]]; 
       console.log("identity="+identity);
	   //显示可以编辑的内容
        if(identity){
            
        	$("[id^="+identity+"]").each(function(){
				$(this).removeAttr("readonly");
				$(this).removeAttr("disabled");
				$(this).attr("required","true");
				//$(this).attr("oninvalid","setCustomValidity('不能为空,必须填写')");
				$(this).show();
            });
        }else{
        	 $("#submit").hide();
        	 $("#save").hide();
        	 
        }
       var groups=[[${session.sysuser.userLinkGroup}]];
       
       for(x in groups){
            
       		if(groups[x].groupTable.groupname.indexOf('系统管理组')!=-1){
       			$('select').removeAttr("disabled");
       			$('#save1').show();
       			break;
       		}
       }
        $("#submit").click(function(){
          
            $("#f1").attr("action","/system/activiti/startEvaluation/complete");
    		$("#f1").submit();

    	});
    	$("#save").click(function(){
    		 $("#f1").attr("action","/system/activiti/startEvaluation/save");
    		$("#f1").submit();
    	});
    	//管理员可见
    	$("#save1").click(function(){
    		 $("#f1").attr("action","/system/activiti/startEvaluation/save");
    		$("#f1").submit();
    	});
    	var actionType=[[${actionType}]];
    
    	var taskId=[[${taskId}]];
    	if(actionType=="perform"){
    	    $("#submit").html('通过');
    	    $("#save").html('驳回');
    	    $("#submit").click(function(){
	          
	           $("#f1").attr("action","/system/activiti/complete/"+taskId+"/true");
    		    $("#f1").submit();
	    	

    	  });
	    	$("#save").click(function(){
	    		$("#f1").attr("action","/system/activiti/complete/"+taskId+"/false");
	    		$("#f1").submit();
	    	});
    	}
    	
     //考核量化分 
   
     var marks=["leader_1","overseer_1","overseer_3"];
     //领导点评占比
     var a=[[${leaderShare}]];
     //群众点评占比
     var b=[[${publicShare}]];
     //考核组点评占比
     var c=[[${overseerShare}]];
     //考核量化分占比
     var d=[[${monthsAssessShare}]];
     
     var share=[a,b,c];
     //考核量化总分
     var markOfMonths=[[${evaluation.marks}]]*parseFloat(d);
     var result=0;
     for(x in marks){
     	
     	$('#'+marks[x]).change(function(){
     	  
     	  
     	  result=parseFloat(0);
     	  for(z in marks){
     	    var v=$('#'+marks[z]).val();
     	   	if(v!=''){
     	   	      
     	   		  if(!isNaN(Number(v))){//是数字
     	   		   
     	   		  	 result+=(parseFloat(v)*parseFloat(share[z]));
     	   		  }else{//是字符串
     	   		  	
     	   		  	 result+=(parseFloat(getMarkOfAssessment(v))*parseFloat(share[z]));
     	   		  }   
     	   	}
     	  }

     	    result=(result+parseFloat(markOfMonths)).toFixed(2);
     	    
     		$('#totalMark').val(result);
     	});
     	
     }
     //考核结果内容默认为组织考评的内容
     $('#overseer_3').change(function(){
     	
     	$('#overseer_5 option[value="'+$(this).val()+'"]').attr('selected',true);
     	
     });
     //获取基本定格对应的得分
     var markOfAssessments=[[${markOfAssessments}]];
     function getMarkOfAssessment(assessment){
     	for(y in markOfAssessments){
     	    if(markOfAssessments[y].name==assessment){
     	    	return markOfAssessments[y].value;
     	    }
        }
     }

    //modal table
   
    function getDetailsOfMarks(userId,startDate,endDate,checked){
      
        $('#table tbody').html('');
         $.ajax({
         	type:'post',
         	url:'/responsibility/selectAllMark?userId='+userId+'&startDate='+startDate+'&endDate='+endDate+'&checked='+checked,
         	dataType:'json',
         	success:function(data){
         		
         		var marks=data;
         		 
         		 var result='';
         		
       		 	 for(x in marks){
    	              var date=new Date(Date.parse(marks[x].createTime));
         		     
    	   		      result+='<tr><td>'+marks[x].markId+'</td><td>'+date.format('yyyy-MM-dd hh:mm:ss')+'</td><td>'+marks[x].markReason+'</td><td>'+marks[x].accordingly+'</td><td>'+marks[x].markNumber+'</td></tr>';
    	          }
 
      	          $('#table tbody').html(result);
      	          $('#modalButton').click();
         	}
         });

    
    }
     //设置textarea高度
        autosize(document.querySelectorAll('textarea'));
      //打印
       var groups=[[${session.sysuser.userLinkGroup}]];
       $("#print").hide();
       for(x in groups){
            
       		if(groups[x].groupTable.groupname.indexOf('考核')!=-1){
       			$("#print").show();
       			break;
       		}
       }
       $("#print").on('click', function() {
        
                var a4=700;
                var width=$("#content").width();
                
                $("#content").width(a4);
                //设置textarea高度
                $("textarea").each(function() {
                	//var height=$(this).height();
                	//$(this).height(height*width/a4+20);
                	$(this).css('overflow','auto');

                	$(this).height(this.scrollHeight+'px');
                	
                	$(this).css('overflow','hidden');
				});
				
               
                $("#content").find("button").hide();
                $("#mark").hide();
                jQuery.print("#content");
                $("#content").find("button").show();
                $("#content").width(width);
                $("#mark").show();
 
       });
    //]]>
  </script>
</body>
</html>