<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../static/images/favicon.ico"/>

    <title>流程审批页面</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
     <link href="/css/bootstrap-select.min.css" rel="stylesheet"/>
     <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
     <link href="/css/plugins/bootstrap-table.min.css" rel="stylesheet"/>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/css/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
   
   
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    
    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-3.2.1.js"></script>

    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/holder.min.js"></script>

    <script src="/js/bootstrap-select.min.js"></script>
    
    <script src="/js/moment-with-locales.min.js"></script>
    
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    
    <script src="/js/plugins/bootstrap-table.min.js"></script>
    
    <script src="/js/plugins/bootstrap-table-zh-CN.min.js"></script>
  
  <div id="loginDiv" class="modal show" style="top:10%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" onclick="javascript:history.go(-1);">X</button>
        <h1 class="text-center text-primary">请假申请</h1>
      </div>
      <div class="modal-body">
         <form action="#" method="post" th:action="@{'/system/activiti/complete/'+${taskId}}" th:object="${commentVO}">
         
          <div class="form-group" th:each="ff,ffStat:${formFields}">
            <span th:text="${ff.key}"></span>:<span th:text="${ff.value}"></span>
          </div>
          <div class="form-group" th:each="c,cStat:${comments}">
             <span>意见</span>:<span th:text="${c.fullMessage}"></span>
             <span>审批用户id</span>:<span th:text="${c.userId}"></span>
             <span>审批日期</span>:<span th:text="${c.time}"></span>
          </div>
   
          <div class="form-group">
          	<textarea cols="33" rows="5" th:field="${commentVO.comment}"></textarea>
          </div>
          <div class="form-group">
          <select class="selectpicker"  data-live-search="true" th:field="${commentVO.audit}">
            
              <option value="true">同意</option>
              <option value="false">驳回</option>

         
          </select>
        </div>
          <div class="form-group">
            <div th:text="${msg}" style="font:red;text-align:center"></div>
            <button class="btn btn-primary btn-lg btn-block" >同意</button>

            <span><a href="#">找回密码</a></span>
            <span><a  class="pull-right" href="/user/registerForm">注册</a></span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>

</body>
</html>