<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <title>用户登陆</title>
</head>
<body>
  <form action="#" method="post" th:action="@{./login}" th:object="${user}">
    <table>
      <tr>
        <th>登陆名</th>
        <td><input type="text" th:field="*{loginname}"    maxlength="16"/></td>
        <td><input type="password" th:field="*{password}"   maxlength="16"/></td>
        <td><input type="submit" value="提交"/></td>
      </tr>
    </table>
    
  </form>
</body>
</html>