<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../static/images/favicon.ico"/>

    <title>一线考核系统</title>

<!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-select.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/css/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
       <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-3.2.1.js"></script>

    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/holder.min.js"></script>

    <script src="/js/bootstrap-select.min.js"></script>
    
    <script src="/js/moment-with-locales.min.js"></script>
    
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    <link href="/css/carousel.css" rel="stylesheet"/>
</head>
<body>

  
  <div id="loginDiv" class="modal show" style="top:10%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" onclick="javascript:history.go(-1)">X</button>
        <h1 class="text-center text-primary">用户信息更新</h1>
      </div>
      <div class="modal-body">
         <form action="#" method="post" th:action="@{/user/update}" th:object="${user}">
          <input type="text" name="id" id="id" th:value="*{id}" style="display:none;"/>
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="手机号" th:field="*{phone}"  th:value="*{phone}"  maxlength="16"/>
          </div>
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="邮箱" th:field="*{email}" th:value="*{email}"/>
          </div>
         <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="真实姓名" th:field="*{username}" th:value="*{username}"   maxlength="16"/>
          </div>
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="职务" th:field="*{position}" th:value="*{position}" />
          </div>
	    <div class="form-group">
	      <select  class="selectpicker" data-live-search="true" title="请正确选择职级..."  th:field="*{post.pId}" th:value="*{post.pId}">
	        <option th:each="p:${posts}" th:value="${p.pId}" th:text="${p.name}"></option>
	      </select>
	     </div>
          <label style="text-align:center;">----------修改部门-----------</label>
          <div class="form-group">
		      <select id="second" class="selectpicker" data-live-search="true" title="请选择部门"  th:field="*{userLinkDept.secondLevel.did}" >
		        <option th:each="d:${depts}" th:value="${d.did}" th:text="${d.name}"></option>
		      </select>
		       <select id="first" class="selectpicker" data-live-search="true" title="请选择子部门"  th:field="*{userLinkDept.firstLevelIds}" multiple="multiple">
		         
		        </select>
	     </div>
	      <label style="text-align:center;">----------修改密码-----------</label>
	      <div class="form-group">
            <input  type="password" class="form-control input-lg" placeholder="旧密码"  maxlength="16"/>
          </div>
          <div class="form-group">
            <input type="password" class="form-control input-lg" placeholder="新密码" th:field="*{password}"  maxlength="16"/>
          </div>
          <div class="form-group">
            <div th:text="${msg}" style="font:red;text-align:center"></div>
            <button class="btn btn-primary btn-lg btn-block" >更新用户信息</button>
            <span><a href="#">返回</a></span>
            <span><a  class="pull-right" href="#">重置</a></span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>
<script>
    //修改部门
	$('#second').change(function(){
		$.ajax({
		  type: 'POST',
		  url: "/user/selectFirstLevelDept/"+$('#second').val(),
		  dataType: "text",
		  success: function(data){
		        
		        $("#first").empty();
		        $("#first").html('');
		        $("#first").append(data);
		        $("#first").selectpicker('refresh');
		         

		  }
		 
		});
	});
</script>
</body>
</html>