<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.crm.springboot.mapper.LeaveInfoMapper">
  	<resultMap id="LeaveInfoMap" type="leaveInfo">
  		<result property="id" column="id" />
		<result property="leaveMsg" column="leave_msg" />
		<result property="status" column="status"/>
  	</resultMap>
  	<select id="getById" parameterType="string" resultMap="LeaveInfoMap">
  		select * from leaveinfo where lid=#{id}
  	</select>
  	<insert id="save">
  		insert into leaveinfo
  		values(
  			#{id},#{leaveMsg},#{status}
  		)
  	</insert>
  	<update id="update" parameterType="leaveInfo">
  		update leaveinfo
  		<set>
  			<if test="id!=null and id !=''">
  				id=#{id},
  			</if>
  			<if test="leaveMsg!=null and leaveMsg!=''">
  				leaveMsg=#{leaveMsg},
  			</if>
  			<if test="status!=null and status!=''">
  				status=#{status}
  			</if>
  		 where id =#{id}
  		</set>
  	</update>
  	<delete id="deleteById" parameterType="string">
  		delete from leaveInfo where lid=#{id}
  	</delete>
  </mapper>