<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <!-- 指向UserMapper.xml文件 -->
  
<mapper namespace="com.crm.springboot.mapper.UserMapper">
  
  <resultMap type="user" id="userResultMap">
    <id property="id" column="id"></id>
    <association property="post" column="postId" javaType="post"  select="selectPostWithId"></association>

    <collection property="userLinkDepts" column="id" javaType="ArrayList"  ofType="userLinkDept" select="selectUserLinkDeptWithUserId"></collection>
    
    <collection property="userLinkGroup" column="id" javaType="ArrayList" ofType="groupManager" select="com.crm.springboot.mapper.SysPowerMapper.selectGroupManagerByUserId2"></collection>
  </resultMap>

  <insert id="save" parameterType="user" keyProperty="id" useGeneratedKeys="true">
    INSERT INTO info_USER
    (loginname,password,phone,username,email,sex,postId,avatar) 
    VALUES
    (#{loginname},#{password},#{phone},#{username},#{email},#{sex},#{post.pId},#{avatar})
  </insert>
  
 
  <select id="getById" parameterType="string" resultMap="userResultMap">
    SELECT * FROM info_USER WHERE ID=#{id}
  </select>
  <select id="findUserWithNameAndPass" parameterType="user" resultMap="userResultMap">
    SELECT * FROM info_USER WHERE loginname=#{loginname} and password=#{password}
  </select>
  <select id="getBySomething" parameterType="user" resultMap="userResultMap">
  	select * from info_user 
  	<where>
  		<if test="id!=null">
  			id=#{id}
  		</if>
  		<if test="phone!=null">
  			and phone=#{phone}
  		</if>
  		<if test="loginname!=null">
  			and loginname=#{loginname}
  		</if>
  		<if test="password!=null">
  			and password=#{password}
  		</if>
  		<if test="username!=null">
  			and username=#{username}
  		</if>
  	</where>
  </select>
  <select id="selectUsersLike" parameterType="hashmap" resultMap="userResultMap">
    select * from info_user
    <where>
      <if test="id!=null">
        id=#{id}
      </if>
      <if test="phone!=null">
        and phone=#{phone}
      </if>
      <if test="did!=null">
        and did=#{did}
      </if>
      <if test="loginname!=null and password!=null">
        and loginname=#{loginname} and password=#{password}
      </if>
    </where>
  </select>
  <select id="selectUserLikeName" resultMap="userResultMap">
    <bind name="pattern" value="'%'+_parameter.getLoginname()+'%'"/>
    select * from info_user where loginname Like#{pattern}
  </select>
  <select id="selectAllUser" resultMap="userResultMap">
    SELECT * FROM info_USER
  </select>
  <select id="selectAllUserWithHashMap" resultMap="userResultMap" parameterType="hashmap">
    SELECT * FROM info_USER
    <where>
    	<if test="username!=null and username!=''">
    		<bind name="pattern" value="'%'+_parameter.get('username')+'%'"/>
    		 username like #{pattern}
    	</if>
    </where>
  </select>
  <update id="update" parameterType="user">
  
    update info_user
     <set>
     	<if test="loginname!=null">loginname=#{loginname},</if>
     	<if test="password!=null">password=#{password},</if>
     	<if test="username!=null">username=#{username},</if>
     	<if test="sex!=null">sex=#{sex},</if>
     	<if test="birthday!=null">birthday=#{birthday},</if>
     	<if test="phone!=null">phone=#{phone},</if>
     	<if test="email!=null">email=#{email},</if>
     	<if test="post.pId!=null">postId=#{post.pId},</if>
     	<if test="avatar!=null">avatar=#{avatar}</if>
     </set>
     where id=#{id}
  </update>
  <delete id="deleteById" parameterType="int">
    delete from info_user where id=#{id}
  </delete>
  <delete id="deleteUsersByUserIds" parameterType="int[]">
  	delete from info_user where id in 
  	<foreach collection="array" item="id" index="no" separator="," open="(" close=")">
  		#{id}
  	</foreach>
  </delete>
<!-- =================================部门之间联系info_dept_identityLink========================================== -->
<insert id="saveDeptIdentityLink" parameterType="deptIdentityLink" useGeneratedKeys="true">
	insert into info_dept_identityLink
	 (firstLevelId,secondLevelId,thirdLevelId) values (#{firstLevel.did},#{secondLevel.did},#{thirdLevel.did})
</insert>
<!-- 查询不重复二级部门 -->
<select id="selectDistinctSecondLevelDept" resultType="dept">
	select * from info_dept where did in (select  distinct secondLevelId from info_dept_identityLink)
</select>
<!-- 根据二级部门，查询不重复一级部门 -->
<select id="selectDistinctFirstLevelDept" parameterType="hashmap" resultType="dept">
	select * from info_dept where did in (select distinct firstLevelId from info_dept_identityLink
	<where>
		<if test="secondLevelId!=null and secondLevelId!=''">secondLevelId=#{secondLevelId}</if>
	</where>
	)
</select>
<!-- =================================用户和部门info_user_dept表============================ -->
  <resultMap type="userLinkDept" id="userLinkDeptResultMap">
  	<id property="id" column="id"/>
  	<association property="firstLevel" column="firstLevelId" javaType="dept" select="selectDeptWithId"></association>
  	<association property="secondLevel" column="secondLevelId" javaType="dept" select="selectDeptWithId"></association>
  	<association property="thirdLevel" column="thirdLevelId" javaType="dept" select="selectDeptWithId"></association>
  </resultMap>
  <select id="selectUserLinkDeptWithUserId" resultMap="userLinkDeptResultMap">
  	select * from info_user_dept where userId=#{id}
  </select>
  
  <insert id="saveUserLinkDeptWithUserLinkDept" parameterType="userLinkDept">
  	insert into info_user_dept (userId,secondLevelId,thirdLevelId) values
  	(#{userId},#{secondLevel.did},#{thirdLevel.did})
  </insert>
  
  <insert id="saveUserLinkDeptWithUserLinkDeptAndFirstLevelIds" parameterType="hashmap">
   
    	insert into info_user_dept (userId,firstLevelId,secondLevelId,thirdLevelId) values
  	   <foreach collection="firstLevelIds" item="id" index="index" separator=",">
  		(#{userLinkDept.userId},#{id},#{userLinkDept.secondLevel.did},#{userLinkDept.thirdLevel.did})
  	  </foreach>
  </insert>
  <update id="updateUserLinkDeptWithUserIdAndDeptIds" parameterType="hashmap">
  	update info_user_dept 
  	
  	<set>
  		<if test="firstLevl!=null !=''">=#{}</if>
  	</set>
  	where userId=#{userId}
  </update>
  <select id="selectUserLinkDeptWithResutltType" parameterType="hashmap" resultType="userLinkDept">
  	select * from info_user_dept
  	<where>
  		<if test="userId!=null and userId!=''">userId=#{userId}</if>
  	</where>
  </select>
  
  <delete id="deleteUserLinkDept" parameterType="hashmap">
  	delete from info_user_dept 
  	<where>
  		<if test="id!=null and id!=''">id=#{id}</if>
  	</where>
  </delete>
<!-- =================================用户和职位info_user_post表============================ -->
  <resultMap type="userLinkPost" id="userLinkPostResultMap">
  	<id property="id" column="id"/>
  	<association property="post" column="postId" javaType="post" select="selectPostWithId"></association>
  </resultMap>
  <select id="selectUserLinkPostWithUserId" resultMap="userLinkPostResultMap">
  	select * from info_user_post where userId=#{id}
  </select>
  <insert id="saveUserLinkPostWithUserIdAndPostIds">
  	insert into info_user_post (userId,postId) values
  	<foreach collection="postIds" item="id" index="index" separator=",">
  		(#{userId},#{id})
  	</foreach>
  </insert>
<!-- =================================部门dept表============================ -->

  <!-- 根据部门ID查询部门 -->
  <select id="selectDeptWithId" resultType="dept">
    select * from info_dept where did=#{id}
  </select>
  <!-- 根据部门ID查询所有用户 -->
  <select id="selectUsersWithDeptId" parameterType="int" resultMap="userResultMap">
    select * from info_user_dept where deptId=#{id}
  </select>
  <!-- 查询所有部门的信息 -->
  <select id="selectAllDept" resultType="dept">
    select * from info_dept
  </select>
  <insert id="saveDept" parameterType="dept" useGeneratedKeys="true">
  	insert into info_dept (name) values (#{name})
  </insert>
  <!-- ===============================职务post表=============================== -->
  <select id="selectPostWithId" resultType="post">
  	select * from info_post where pId=#{pId}
  </select>
  <select id="selectAllPost" resultType="post">
  	select * from info_post 
  </select>
</mapper>
