
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../static/images/favicon.ico"/>

    <title>一线考核系统</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-select.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/css/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
       <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-3.2.1.js"></script>

    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/holder.min.js"></script>

    <script src="/js/bootstrap-select.min.js"></script>
    
    <script src="/js/moment-with-locales.min.js"></script>
    
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
  </head>
<body>
<style>
	label{
		width:60px;
	}
</style>
  <div id="loginDiv" class="modal show">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" onclick="javascript:history.back(-1);
        ">X</button>
        <h1 class="text-center text-primary">修改加减分申请</h1>
      </div>
      <div class="modal-body">
         <div class="form-group" id="alert">
         	<span style="font-size:28px;color:red;font-weight:bold;">注意:</span><div style="font-size:20px;text-align:center;">需书面申请经社领导审批同意，否则申请无效，<br/></div>
         	<div class="form-inline" style="text-align:center;">
         		<button class="btn btn-success" onclick="javascript:history.back(-1);">返回</button>
         		<button class="btn btn-default" onclick="javascript:document.getElementById('f1').style.display='block';document.getElementById('alert').style.display='none';">OK</button>
         	</div>
         </div>
         <form id="f1"  method="post"  th:object="${pojo}" style="display:none;">
         <input type="text" th:value="*{processBean.deploymentId}" th:field="*{processBean.deploymentId}" style="display:none;"/>
         <input type="text" th:value="*{processBean.businessKey}" th:field="*{processBean.businessKey}" style="display:none;"/>
         <input type="text" th:value="*{processBean.processInstanceId}" th:field="*{processBean.processInstanceId}" style="display:none;"/>
        
           <div class="form-inline"  style="display:flex;justify-content:space-between;flex:1;">
                 <label>标题</label>
           		 <input type="text" class="form-control"  th:value="*{processBean.title}" th:field="*{processBean.title}" readOnly="true"/>
           		 <label>申请日期</label>
           	     <input type="text" class="form-control" th:value="*{processBean.requestedDate}" th:field="*{processBean.requestedDate}" readOnly="true"/>
  
           		 <input type="text" class="form-control"  th:value="*{processBean.businessType}" th:field="*{processBean.businessType}" style="display:none;"/>
           </div><br/>

           <div class="form-inline" style="display:flex;justify-content:space-between;flex:1;" >
               <label>申请人</label>
           	   <input type="text" th:value="*{processBean.user.id}" th:field="*{processBean.user.id}" style="display:none;"/>
           	   <input type="text" class="form-control" th:value="*{processBean.user.username}" th:field="*{processBean.user.username}" readOnly="true"/>
               <label>职级</label>
               <input type="text" class="form-control"  th:value="*{processBean.user.post.pId}" th:field="*{processBean.user.post.pId}" style="display:none;" readOnly="true"/>
           	   <input type="text" class="form-control"  th:value="*{processBean.user.post.name}" th:field="*{processBean.user.post.name}" readOnly="true"/>
           </div><br/>
 
           <div class="form-group" id="deptName">
		           <label >部门</label>
			      <select   class="form-control" th:field="*{processBean.deptName}" th:value="*{processBean.deptName}" required="true">
			        <option th:each="d,dStat:${session.sysuser.userLinkDepts}" th:value="${d.secondLevel.name}" th:text="${d.secondLevel.name}" th:if="${dStat.index} eq 1"></option>
			        <option th:each="d,dStat:${session.sysuser.userLinkDepts}" th:value="${d.firstLevel.name}" th:text="${d.firstLevel.name}" th:if="${d.firstLevel.name!='0'}"></option>
			        
			        
			      </select>
			    
           </div>
           <div class="form-inline" style="display:flex;justify-content:space-between;flex:1;" >
           	  <label>电话</label>
           	  <input id="phone" type="text" class="form-control"  th:value="*{phone}" th:field="*{phone}" required="true"/>
           	   <label >用户姓名</label>
			  <input id="name" type="text" class="form-control"  th:value="*{name}" th:field="*{name}" readonly="true"/>
           </div>

		   <div class="form-group" id="markListDiv">
		           <label >加减分</label>
			      <select  id="markList" class="selectpicker show-tick form-control" data-live-search="true"  >
	
			      </select>
			    
           </div>
           
			<input id="markId" type="text" class="form-control"  th:value="*{mark.markId}" th:field="*{mark.markId}" readonly="true" style="display:none;"/>
		    
		    <div class="form-inline" style="display:flex;justify-content:space-between;flex:1;" >
		      <label >分数</label>
			  <input id="markNumber" type="text" class="form-control"  th:value="*{mark.markNumber}" th:field="*{mark.markNumber}" required="true"/>
			   <label >加分原因</label>
			  <input id="markReason" type="text" class="form-control"  th:value="*{mark.markReason}" th:field="*{mark.markReason}" required="true"/>
		    </div>
		 
		    <div class="form-group">
		      <label >加分依据</label>
			  <input id="accordingly" type="text" class="form-control"  th:value="*{mark.accordingly}" th:field="*{mark.accordingly}" required="true"/>
		    </div>
           <div class="form-group" th:each="c:${comments}">
           		<label th:text="${c.userId}"></label>
           		<input type="text" class="form-control"  th:value="${c.fullMessage}" readOnly="true" ></input>
           </div>
           <div class="form-group" >
           	  <label>备注</label>
           	 
           	  <input type="text" class="form-control"  th:value="*{comment}" th:field="*{comment}" required="true"/>
           </div>
          <div class="form-group">
            <button  id="submit" type="submit" class="btn btn-lg btn-success">提交</button>
            <button  id="save" type="save" class="btn btn-lg btn-default">保存</button>
         
          </div>
        </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>
 

    
    <script th:inline="javascript">
    //<![CDATA[
    $(document).ready(function () {
     
  var trigger = $('.hamburger'),
      overlay = $('.overlay'),
     isClosed = false;

    trigger.click(function () {
      hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });
  $('[data-toggle="offcanvas"]').click();  
  
//根据电话查询用户名
$('#markList').change(function(){
	
	var option=$("#markList option:selected").text();  //获取选中的项
	
	if(option=='') return;
	
	var mark=option.split('``');
	
	
	
	
		
		$('#marks').append('<div class="FlexRow"><div class="FlexItem FlexItem-md-2" style="vertical-align:middle;"></div>'
 	                    
 						 +'<div class="FlexItem FlexItem-md-11" ><textarea id="oldMark.markReason" required="true" name="oldMark.markReason" class="form-control" style="background:none;border:none;">'+mark[2].split('--')[1]+'</textarea></div>'
 						 +'<div class="FlexItem FlexItem-md-9" ><textarea id="oldMark.accordingly" required="true" name="oldMark.accordingly" class="form-control" style="background:none;border:none;">'+mark[3].split('--')[1]+'</textarea></div>'
 						 +'<div class="FlexItem FlexItem-md-3" ><input type="number" step="0.01" id="oldMark.markNumber"  required="true" name="oldMark.markNumber" class="form-control" style="background:none;border:none;" value="'+mark[1].split('--')[1]+'"></input></div></div>');
	
	
	
	
	
});
$('#phone').change(function(){
    var phone=$(this).val();
    
    $.ajax({
    	type:'post',
    	url:'/user/findUser/'+phone,
    	dataType:'json',
    	success:function(data){
    		if(data==null) {alert('电话不存在，是否输入有误？');return;}
    		
    		$('#name').val(data.username);
    		//根据修改对象的职级决定流程流向
    		$('#postId').val(data.post.pId);
    		//查询该用户当年所有的加分	
    		selectMarksByUserId(data.id);
    	}
    });

}); 
function selectMarksByUserId(userId){
	if(!userId) return ;
	$.ajax({
		type:'post',
		url:'/responsibility/selectAllMark?userId='+userId+'&limit=60',
		dataType:'json',
		success:function(data){
			if(data==null) return;
			var content='<option value=""></option>';
			for(x in data){
				content+='<option style="white-space:normal;border-bottom-style:dotted" value="'+data[x].markId+'" >ID--'+data[x].markId+'``加分分数--'+data[x].markNumber+'``加分原因--'+data[x].markReason+'``加分依据--'+data[x].accordingly+'</option>';
			}
			$('#markList').append(content);
			$('#markList').selectpicker('refresh');
		}
	})
}
 var identity=[[${identity}]]; 
       
   //显示可以编辑的内容

  if(identity!='employee'){
    $('#deptName').html('');
    $('#markListDiv').html('');
  }
  if(identity){
      
  }else{
       	 $("#submit").hide();
       	 $("#save").hide();
       	 
  }
 
 
 
 $("#submit").click(function(){
          
     $("#f1").attr("action","/process/activiti/start/others/complete?businessType="+[[${pojo.processBean.businessType}]]);
     $("#f1").submit();

 }); 
  $("#save").click(function(){
          
     $("#f1").attr("action","/process/activiti/start/others/save?businessType="+[[${pojo.processBean.businessType}]]);
     $("#f1").submit();

 }); 
var actionType=[[${actionType}]];

var taskId=[[${taskId}]];
if(actionType=="perform"){
        $('#alert').hide();
        $('#f1').show();
        
  	    $("#submit").html('通过');
  	    $("#save").html('驳回');
  	    $("#submit").click(function(){
         
          $("#f1").attr("action","/process/activiti/complete/"+[[${pojo.processBean.businessType}]]+"/"+taskId+"/true");
  		    $("#f1").submit();
   	

  	  });
   	$("#save").click(function(){
   		$("#f1").attr("action","/process/activiti/complete/"+[[${pojo.processBean.businessType}]]+"/"+taskId+"/false");
   		$("#f1").submit();
   	});
}      
   
  
});
//]]>
</script>
</body>
</html>