<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../static/images/favicon.ico"/>

    <title>一线考核系统</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-select.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>
     
    <link href="/css/grid.css" rel="stylesheet"/>

    <script src="/css/ie-emulation-modes-warning.js"></script>

    
    
       <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-3.2.1.js"></script>

    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/holder.min.js"></script>

    <script src="/js/bootstrap-select.min.js"></script>

    <!-- autosize -->
      <script th:src="${urls.getForLookupPath('/js/plugins/autosize.js') }"></script>


  </head>
  
<body>

 <style>
      	div{
      		overflow:visible;
      		
      	}
      	textarea{
      	   display: table-cell; vertical-align: middle;
      		resize : none;
      	}

</style>


  <div id="content" class="container" >
  	     <div class="form-group" id="alert">
         	<span style="font-size:28px;color:red;font-weight:bold;">注意:</span><div style="font-size:20px;text-align:center;">需书面申请经社领导审批同意，否则申请无效，<br/></div>
         	<div class="form-inline" style="text-align:center;">
         		<button class="btn btn-success" onclick="javascript:history.back(-1);">返回</button>
         		<button class="btn btn-default" onclick="javascript:document.getElementById('f1').style.display='block';document.getElementById('alert').style.display='none';">OK</button>
         	</div>
         </div>
      <form id="f1"  method="post"  th:object="${pojo}" style="display:none;">
      	 
    	 <input type="hidden" name="token" th:value="${session.token}" />
		 <input type="text" th:value="*{processBean.deploymentId}" th:field="*{processBean.deploymentId}" style="display:none;"/>
         <input type="text" th:value="*{processBean.businessKey}" th:field="*{processBean.businessKey}" style="display:none;"/>
         <input type="text" th:value="*{processBean.processInstanceId}" th:field="*{processBean.processInstanceId}" style="display:none;"/>
         <input type="text" th:value="*{processBean.businessType}" th:field="*{processBean.businessType}" style="display:none;"/>
         <input type="text" th:value="*{processBean.user.username}" th:field="*{processBean.user.username}" style="display:none;"/>
         <input type="text" th:value="*{processBean.user.id}" th:field="*{processBean.user.id}" style="display:none;"/>
         <input type="text" th:value="*{processBean.title}" th:field="*{processBean.title}" style="display:none;"/>
         
    	<div class="row">
	    	<div class="page-header">
	          <h1 style="text-align:center;">修改加减分申请 </h1>
	        </div>
    	</div>
    	<div class="row">
    		<div class="FlexRow">
    			<div class="FlexItem FlexItem-md-5">
    		                   <p>申请部门</p>
    			</div>
    			<div class="FlexItem FlexItem-md-8 ">
    			 	
				      <select   th:field="*{processBean.deptName}" th:value="*{processBean.deptName}" th:if="*{processBean.deptName==null}">
				        <option th:each="d,dStat:${session.sysuser.userLinkDepts}" th:value="${d.secondLevel.name}" th:text="${d.secondLevel.name}" th:if="${dStat.index} eq 1"></option>
				        <option th:each="d,dStat:${session.sysuser.userLinkDepts}" th:value="${d.firstLevel.name}" th:text="${d.firstLevel.name}" th:if="${d.firstLevel.name!='0'}"></option>
				        
				        
				      </select>
                 <input type="text" class="form-control" th:field="*{processBean.deptName}" th:value="*{processBean.deptName}" th:if="*{processBean.deptName!=null}" readOnly="true" style="height:100%;"/>
    			</div>
    			<div class="FlexItem FlexItem-md-5">
    		            <p> 填表日期:</p>
    			</div>
    			<div class="FlexItem FlexItem-md-7">
    		        <input type="text" class="form-control" th:value="*{processBean.requestedDate}" th:field="*{processBean.requestedDate}" readOnly="true" style="height:100%;"/>	
    			</div>
    		</div>
    		
    	</div>
    	<div class="row" style="height:50px;">
    		<div class="FlexRow">
    			<div class="FlexItem FlexItem-md-2">
    				<p>修改对象<br/>&nbsp;&nbsp;&nbsp;&nbsp;电话</p>			
    			</div>
    			<div class="FlexItem FlexItem-md-3">
    			      
    				<p><input id="phone" type="text" placeholder="输入电话号码" required="true" th:value="*{phone}" th:field="*{phone}"/></p>				
    			</div>
    			<div class="FlexItem FlexItem-md-3">
    				<p>修改对象姓名</p>		
    			</div>   
    			<div class="FlexItem FlexItem-md-5">
    				<p><input id="name" type="text" readOnly="true" th:value="*{name}" th:field="*{name}"/></p>

    			</div>  
    			<div class="FlexItem FlexItem-md-5">
    				<p>选择加减分</p>
    			</div>   
    			<div class="FlexItem FlexItem-md-7" id="markListDiv" style="height:100%;">
    				
			      		<select  id="markList" class="selectpicker show-tick form-control" data-live-search="true" placeholder="选择需要修改的对象" style="height:100%;">
	
			     		 </select>
    			</div>   
      			
    		</div>
    	</div>
    	
    	<div class="row">
    		<div class="FlexColumn">
    			<div class="FlexItem FlexItem-vd-1">
						<div class="FlexRow">
						    	<div class="FlexItem FlexItem-md-2"><p id="operate">操作</p></div>
						    	<div class="FlexItem FlexItem-md-11"><p>加分原因</p></div>
						    	<div class="FlexItem FlexItem-md-9"><p>加分依据</p></div>
						    	<div class="FlexItem FlexItem-md-3"><p>加减分</p></div>
						 </div>
						    		
				</div>
				
				<div class="FlexItem FlexItem-vd-19">
				        
					<div class="FlexColumn">
 						    	
 						    	<div id="marks">
 			                    	
 						    	</div>
 						    	
 						    			
					   </div>
						    		    
						    			
				</div>
			</div>
    						    
    	</div>
    	 <div class="row" th:each="c:${comments}">
    	 	<div class="FlexRow">
    			<div class="FlexItem FlexItem-md-3">
    				<p th:text="${c.userId}"></p>
    			</div>
    			
    			<div class="FlexItem FlexItem-md-22">
    				<textarea  class="form-control input-lg" placeholder="" rows="" cols="" th:text="${c.fullMessage}" readOnly="true"   style="vertical-align:middle;"></textarea>
    			</div>
    		</div>

      
          </div>
    	<div class="row">
    		  <div class="FlexRow">
    			<div class="FlexItem FlexItem-md-3">
    				<p>备注</p>
    			</div>
    			
    			<div class="FlexItem FlexItem-md-22">
    				<textarea  class="form-control input-lg" placeholder="" rows="" cols="" th:value="*{comment}" th:field="*{comment}" required="true"  style="vertical-align:middle;height:100%;"></textarea>
    			</div>
    		</div>
    	</div>
    	

    	<div class="row text-center">
           <button  id="submit" type="submit" class="btn btn-lg btn-success">提交</button>
           <button  id="save" type="submit" class="btn btn-lg btn-default">保存</button>
        </div>
	  </form>
</div>
    <script th:inline="javascript">
    //<![CDATA[
   
 var identity=[[${identity}]]; 
  console.log(identity);
  if(identity!='employee'){
    $('#deptName').html('');
    $('#markListDiv').html('');
    $('#phone').attr('readonly',true);
    
  }
  if(identity){
      
  }else{
       	 $("#submit").hide();
       	 $("#save").hide();
       	 
  }

 
 $("#submit").click(function(){
          
     $("#f1").attr("action","/process/activiti/start/others/complete?businessType="+[[${pojo.processBean.businessType}]]);
     $("#f1").submit();

 }); 
  $("#save").click(function(){
          
     $("#f1").attr("action","/process/activiti/start/others/save?businessType="+[[${pojo.processBean.businessType}]]);
     $("#f1").submit();

 }); 
var actionType=[[${actionType}]];

var taskId=[[${taskId}]];
if(actionType=="perform"){
        $('#alert').hide();
        $('#f1').show();
        
  	    $("#submit").html('通过');
  	    $("#save").html('驳回');
  	    $("#submit").click(function(){
         
          $("#f1").attr("action","/process/activiti/complete/"+[[${pojo.processBean.businessType}]]+"/"+taskId+"/true");
  		    $("#f1").submit();
   	

  	  });
   	$("#save").click(function(){
   		$("#f1").attr("action","/process/activiti/complete/"+[[${pojo.processBean.businessType}]]+"/"+taskId+"/false");
   		$("#f1").submit();
   	});
}     
var mark=[[${pojo.mark}]];
var oldMark=[[${pojo.oldMark}]];

if(oldMark.markNumber!=null){
	$('#marks').append('<div class="FlexRow"><div class="FlexItem FlexItem-md-2" style="vertical-align:middle;"><span class="btn btn-danger">修改前</span></div>'
 	                    
 						 +'<div class="FlexItem FlexItem-md-11" ><textarea id="oldMark.markReason" required="true" name="oldMark.markReason" class="form-control" style="background:none;border:none;" readonly="true">'+oldMark.markReason+'</textarea></div>'
 						 +'<div class="FlexItem FlexItem-md-9" ><textarea id="oldMark.accordingly" required="true" name="oldMark.accordingly" class="form-control" style="background:none;border:none;" readonly="true">'+oldMark.accordingly+'</textarea></div>'
 						 +'<div class="FlexItem FlexItem-md-3" ><input type="number" step="0.01" id="oldMark.markNumber"  required="true" name="oldMark.markNumber" class="form-control" style="background:none;border:none;" value="'+oldMark.markNumber+'" readonly="true"></input></div></div>');
	
	
}
if(mark.markNumber!=null){
	$('#marks').append('<div class="FlexRow"><div class="FlexItem FlexItem-md-2" style="vertical-align:middle;"><span class="btn btn-success">修改后</span></div>'
 	                    
 						 +'<div class="FlexItem FlexItem-md-11" ><textarea id="mark.markReason" required="true" name="mark.markReason" class="form-control" style="background:none;border:none;">'+mark.markReason+'</textarea></div>'
 						 +'<div class="FlexItem FlexItem-md-9" ><textarea id="mark.accordingly" required="true" name="mark.accordingly" class="form-control" style="background:none;border:none;">'+mark.accordingly+'</textarea></div>'
 						 +'<div class="FlexItem FlexItem-md-3" ><input type="number" step="0.01" id="mark.markNumber"  required="true" name="mark.markNumber" class="form-control" style="background:none;border:none;" value="'+mark.markNumber+'"></input></div></div>'
 						 +'<input type="text"  id="mark.markId"   name="mark.markId"  style="display:none;" value="'+mark.markId+'"></input>');
}
	
	
//autosize(document.querySelectorAll('textarea'));
//根据电话查询用户名
$('#markList').change(function(){
	
	var option=$("#markList option:selected").text();  //获取选中的项
	
	if(option=='') return;
	
	var mark=option.split('``');
	$('#marks').html('');
	$('#marks').append('<div class="FlexRow"><div class="FlexItem FlexItem-md-2" style="vertical-align:middle;"><span class="btn btn-danger">修改前</span></div>'
 	                    
 						 +'<div class="FlexItem FlexItem-md-11" ><textarea id="oldMark.markReason" required="true" name="oldMark.markReason" class="form-control" style="background:none;border:none;" readonly="true">'+mark[2].split('--')[1]+'</textarea></div>'
 						 +'<div class="FlexItem FlexItem-md-9" ><textarea id="oldMark.accordingly" required="true" name="oldMark.accordingly" class="form-control" style="background:none;border:none;" readonly="true">'+mark[3].split('--')[1]+'</textarea></div>'
 						 +'<div class="FlexItem FlexItem-md-3" ><input type="number" step="0.01" id="oldMark.markNumber"  required="true" name="oldMark.markNumber" class="form-control" style="background:none;border:none;" value="'+mark[1].split('--')[1]+'" readonly="true"></input></div></div>');
	
	$('#marks').append('<div class="FlexRow"><div class="FlexItem FlexItem-md-2" style="vertical-align:middle;"><span class="btn btn-success">修改后</span></div>'
 	                    
 						 +'<div class="FlexItem FlexItem-md-11" ><textarea id="mark.markReason" required="true" name="mark.markReason" class="form-control" style="background:none;border:none;">'+mark[2].split('--')[1]+'</textarea></div>'
 						 +'<div class="FlexItem FlexItem-md-2" ><input type="text"  id="mark.markId"  required="true" name="mark.markId"  style="display:none;" value="'+mark[0].split('--')[1]+'"></input></div>'
 						 +'<div class="FlexItem FlexItem-md-9" ><textarea id="mark.accordingly" required="true" name="mark.accordingly" class="form-control" style="background:none;border:none;">'+mark[3].split('--')[1]+'</textarea></div>'
 						 +'<div class="FlexItem FlexItem-md-3" ><input type="number" step="0.01" id="mark.markNumber"  required="true" name="mark.markNumber" class="form-control" style="background:none;border:none;" value="'+mark[1].split('--')[1]+'"></input></div></div>');
	
	 autosize(document.querySelectorAll('textarea'));
	
	
});
$('#phone').change(function(){
    var phone=$(this).val();
    
    $.ajax({
    	type:'post',
    	url:'/user/findUser/'+phone,
    	dataType:'json',
    	success:function(data){
    		if(data==null) {alert('电话不存在，是否输入有误？');return;}
    		
    		$('#name').val(data.username);
    		//根据修改对象的职级决定流程流向
    		$('#postId').val(data.post.pId);
    		//查询该用户当年所有的加分	
    		selectMarksByUserId(data.id);
    	}
    });

}); 
function selectMarksByUserId(userId){
	if(!userId) return ;
	$.ajax({
		type:'post',
		url:'/responsibility/selectAllMark?userId='+userId+'&limit=60',
		dataType:'json',
		success:function(data){
			if(data==null) return;
			var content='<option value=""></option>';
			for(x in data){
				content+='<option style="white-space:normal;border-bottom-style:dotted" value="'+data[x].markId+'" >ID--'+data[x].markId+'``加分分数--'+data[x].markNumber+'``加分原因--'+data[x].markReason+'``加分依据--'+data[x].accordingly+'</option>';
			}
			$('#markList').append(content);
			$('#markList').selectpicker('refresh');
		}
	})
}

//]]>
       
    </script>
</body>
</html>
