<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 指向UserMapper.xml文件 -->
<mapper namespace="com.crm.springboot.mapper.UserMapper">
<!-- 创建一个LRU缓存 ，并每隔60秒刷新，最大存储512个对象，而且返回的对象被认为是只读的
 -->
<cache eviction="LRU" flushInterval="60000" size="512" readOnly="true"></cache>
  <resultMap type="user" id="userResultMap">
    <id property="id" column="id"></id>
    <result property="loginname" column="loginname"/>
    <result property="password"  column="password"/>
    <result property="phone" column="phone"/>
    <association property="dept" column="did" javaType="dept" select="selectDeptWithId"></association>
  </resultMap>

  <insert id="saveUser" parameterType="user" useGeneratedKeys="true">
    INSERT INTO USER(loginname,password,did,phone) VALUES(#{loginname},#{password},#{dept.id},#{phone})
  </insert>
  <select id="selectUserById" parameterType="int" resultMap="userResultMap">
    SELECT * FROM USER WHERE ID=#{id}
  </select>
  <select id="findUserWithNameAndPass" parameterType="user" resultMap="userResultMap">
    SELECT * FROM USER WHERE loginname=#{loginname} and password=#{password}
  </select>
  <select id="selectUsersLike" parameterType="hashmap" resultMap="userResultMap">
    select * from user
    <where>
      <if test="id!=null">
        id=#{id}
      </if>
      <if test="phone!=null">
        and phone=#{phone}
      </if>
      <if test="did!=null">
        and did=#{did}
      </if>
      <if test="loginname!=null and password!=null">
        and loginname=#{loginname} and password=#{password}
      </if>
    </where>
  </select>
  <select id="selectUserLikeName" resultMap="userResultMap">
    <bind name="pattern" value="'%'+_parameter.getLoginname()+'%'"/>
    select * from user where loginname Like#{pattern}
  </select>
  <select id="selectAllUser" resultMap="userResultMap">
    SELECT * FROM USER
  </select>
  <update id="updateUser" parameterType="user">
    update user
    <set>
      <if test="loginname!=null">loginname=#{loginname},</if>
      <if test="password!=null">password=#{password},</if>
      <if test="phone!=null">phone=#{phone}</if>
    </set>
    where id=#{id}
  </update>
  <delete id="deleteUserById" parameterType="int">
    delete from user where id=#{id}
  </delete>
<!-- =================================部门============================ -->
  <!-- 根据部门ID查询部门 -->
  <resultMap type="dept" id="deptMap">
    <id property="id" column="did"></id>
    <result property="name" column="name"></result>
   </resultMap>
  <!-- 根据部门ID查询部门 -->
  <select id="selectDeptWithId" resultMap="deptMap">
    select * from dept where did=#{id}
  </select>
  <!-- 根据部门ID查询所有用户 -->
  <select id="selectUsersWithDeptId" parameterType="int" resultMap="userResultMap">
    select * from user where did=#{id}
  </select>
  <!-- 查询所有部门的信息 -->
  <select id="selectAllDept" resultMap="deptMap">
    select * from dept
  </select>
</mapper>
