
<!DOCTYPE html>
<html>
<head>

<title>一线考核系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=yes"/>
<link href="/css/common.css" rel="stylesheet" type="text/css" />
<style  type="text/css">
.top { background: url(/images/top.jpg) no-repeat center top; width: 1200px; height: 50px; padding-top: 146px; margin: 0px auto; box-shadow: 0px -10px 30px 5px #999999; }
.top p { line-height: 50px; float: left; }
.tb { font-size: 20px; background-color: #367fa9; text-align: center; width: 130px; }
.tb a { color: #FFF; text-decoration: none; }
.gg { font-size: 16px; color: #FFF; background-color: #3c8dbc; width: 1070px; height: 50px; line-height: 50px; float: left; }
@media screen and (max-width:721px) {
.top { background: url(/images/top2.jpg) no-repeat center top; width: 100%; }
.tb { font-size: 16px; width: 30%; }
.gg { font-size: 14px; width: 65%; padding-left: 5%;}
}

.main { width: 1200px; padding-top: 50px; padding-bottom: 100px; margin: 0px auto; box-shadow: 0px 0px 30px 5px #999999; }
.zuo { width: 764px; float: left; margin-left: 88px; }
.zuo .tit { font-size: 22px; color: #337ab7; background: url(images/zuotit.jpg) no-repeat left center; width: 744px; float: left; margin-bottom:20px;}
.zuo .tit p { line-height: 37px; margin-left: 20px; border-bottom: 3px solid #eeeeee;margin-bottom:0px; }
.khzu { line-height: 40px; text-align: center; width: 170px; float: left; margin: 0px 20px 40px 0px; border-top: 1px solid #999999; border-left: 1px solid #999999; }
.khzu p { float: left; border-right: 1px solid #999999; border-bottom: 1px solid #999999;margin-bottom:0px; }
.khzu .p1 { width: 168px; }
.khzu .p2 { width: 84px; }
.you { width: 300px; float: right; margin-right: 10px; }
.you .tit { font-size: 20px; line-height: 50px; color: #FFF; background-color: #3c8dbc; height: 50px;  padding:0 10px;}
.you .tit a{float: right; color:#fff;}
.wt { width: 100px; margin: 0px auto; }
.you ul { font-size: 14px; background-color: #f7f7f7; }
.wtul { line-height: 50px; background: url(images/wtul.png) repeat-x center top; padding-bottom: 20px; }
.wtul li { text-align: center; width: 42px; float: left; margin-left: 26px; }
.wj { width: 180px; margin: 0px auto; display: box;display: -webkit-box;display: -moz-box;-webkit-box-pack:center;-moz-box-pack:center;-webkit-box-align:center;-moz-box-align:center;}
.wjul { line-height: 28px; padding-bottom: 20px; }
.wjul li { padding-top: 10px; padding-bottom: 10px; margin-right: 20px; margin-left: 20px; border-bottom: 1px dashed #cecece; }
.phb { width: 764px; float: left; }
.phb .tit { line-height: 40px; width: 738px; height: 40px; padding-left: 26px; }
.phb .tit a { text-decoration: none; color: #337ab7; background-color: #FFF; float: left; cursor: pointer; }
.phb .tit .default1, .phb .tit .default2 { font-size: 18px; }
.phb .tit .active1, .phb .tit .active2 { font-size: 22px; }
.phb .tit span { font-size: 24px; background-color: #FFF; float: left; }
.phzu { line-height: 40px; text-align: center; width: 1017px; margin: 0px auto; border-top: 1px solid #999999; border-left: 1px solid #999999; }
.phzu p { width: 112px; float: left; border-right: 1px solid #999999; border-bottom: 1px solid #999999; }
.phzu .pa { font-size: 18px; }
.phzu .pb { font-size: 14px; }
@media screen and (max-width:721px) {
 .main {width: 100%;padding-top: 0;padding-bottom: 0;}
.zuo {width: auto;margin: 0px 5%;}
.zuo .tit {font-size: 16px;color: #337ab7;background: url(images/zuotit.jpg) no-repeat left center;width: auto;float: left;margin-top: 5%;}
.khzu {font-size: 14px;width: 164px;margin-top: 5%;margin-right: 5%;margin-bottom: 0;}
.khzu .p1 {width: 163px;}
.khzu .p2 {width: 81px;}
.you {width: auto;margin: 0px 5%;}
.you .tit {font-size: 16px;line-height: 50px;margin-top: 5%; padding:0 10px;}
.you .tit a{float: right; color:#fff;}
.wtul {background-image: none;padding-bottom: 0;}
.wjul {padding-bottom: 0;}
.wjul li {border-bottom: none;}
.phb {width: auto;margin: 5% 5%;}
.phb .tit .default1, .phb .tit .default2 { font-size: 14px; }
.phb .tit .active1, .phb .tit .active2 { font-size: 16px; font-weight: bold; }
.phb .tit span {font-size: 16px;}
}
.normal{background-color: #3c8dbc !important;}
.normalB{background-color: #f7f7f7 !important;}
.warn{background-color: #f39c12 !important;}
.warnB{background-color:#f39c125e !important;}
.danger{background-color: #d24c37 !important;}

.dead{background-color: #5d5a5a !important;}
.deadB{background-color:#605a5b6e !important;}
</style>


    <!-- Bootstrap core CSS -->
   
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/AdminLTE.min.css" rel="stylesheet"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- 滚动 -->
    <link href="/css/plugins/jquery.marquee.css" rel="stylesheet"/>
    <link href="/css/plugins/bootstrap-table.min.css" rel="stylesheet"/>

    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/adminlte.min.js"></script>
    
    <!-- scroll -->
    <script src="/js/plugins/jquery.marquee.min.js"></script>
    
    <!-- 图表  -->
    <script src="/js/chart/Chart.min.js" ></script>
    <!-- table -->
    <script src="/js/plugins/bootstrap-table.min.js"></script>
    
    <script src="/js/plugins/bootstrap-table-zh-CN.min.js"></script>
    <!-- 日期 -->
    <script src="/js/DateUtils.js"></script>
</head>

<body>
<div class="top">
  <p class="tb">
  	 <a href="/user/loginForm" target="_blank"  th:if="${session.sysuser==null}">登入</a>
     <a href="/index" target="_blank" th:if="${session.sysuser!=null}">进入填表</a>
  </p>
  <div class="gg" >       
        <!-- 显示本月前10名 -->
        
		<ul id="marquee5" class="marquee">
			<li>每月10日前提交考核表，超期未交的每天扣0.5分；超过5天未交的，月度考核定格为不合格</li>
		</ul>
		
  </div>
 
</div>
<div class="main clean">
  <!-- BAR CHART -->
  <div class="container" style="width:100%;">
	  <div class="box box-success">

	    <div class="box-body">
	      <div class="chart">
	        <canvas id="barChart" style="height:230px"></canvas>
	      
	        
	      </div>
	    </div>
	    <!-- /.box-body -->
	  </div>
	 
	  <div style="display:flex;flex-direction:row;margin-bottom:20px;">
		 <div>
		  	  <canvas id="chart-area1" style="height:300px;width:450px;"></canvas>
		  </div>
		  <div>
		  	<canvas id="chart-area2" style="height:300px;width:700px;"></canvas>
		  </div>
	 </div>
  </div>

  
  
  <div class="zuo">
     <div id="month">
     	
     </div>
   
  
    <div class="phb">
      <div class="tit"><a class="active1"  id="halfYear">半年考评排行</a><span>丨</span><a class="default2"  id="fullYear">年度考评排行</a></div>
          <!-- 考核组 -->
          <div class="form-inline" id="assessGroups">
            
          </div>
     	  <!-- 工具栏 -->
		  <div id="toolbar" class="btn-group pull-left" >
		    <div class="form-inline"  >
		        <select id="times" class="form-control" title="请选择日期"  >
			        <option value="">----请选择日期----</option>
			        
			    </select>
	          	<select id="second" class="form-control" title="请选择部门"  >
			        <option value="">----请选择部门----</option>
			        <option th:each="d:${depts}" th:value="${d.did}" th:text="${d.name}"></option>
			    </select>
			    <input  id="name" class="form-control" style="display:none;"/>
			    <button id="btn_export" type="button" class="btn btn-primary" style="display:none;">
			        <span class="glyphicon glyphicon-plus" aria-hidden="true">导出Excel</span>
			   </button>

			</div>
			
		  </div>
		  <!-- /工具栏 -->
		  <table id="mytab" class="table table-hover"></table>
		 
   
    </div>
  </div>
  <div class="you">
  <!-- 未交清单 -->
    <div id="unSubmitted">
	    
	    
    </div>
    <div class="tit">
      <p class="wj">一线考核相关文件</p>
    </div>
    <ul class="wjul">

    </ul>
  </div>
</div>
<!-- Button trigger modal -->
        <button  id="modalButton" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalTable" style="display:none;">点击查看</button>
        <div class="modal fade" id="modalTable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
            <div class="modal-dialog" style="width:900px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">加减分明细</h4>
                    </div>
                    <div class="modal-body">
                        <table id="table"
                               data-toggle="table"
                               data-height="499"
                              >
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>开始日期</th>
                                <th>结束日期</th>
                                <th>生成日期</th>
                                <th>评分</th>
                                <th>评分原因</th>
                                <th>评分依据</th>
                                
                                
                            </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
</body>
<script th:inline="javascript">
//<![CDATA[ 


//显示考核组内容
var groups=[[${session.sysuser.userLinkGroup}]];
var assessGroupFlag=false;//是否包含考核组
for(x in groups){
          
    if(groups[x].groupTable.groupname.indexOf('考核')!=-1){
      	$("#btn_export").show();
      	assessGroupFlag=true;
      	break;
    }
}
      //-------------
    //- BAR CHART -
    //-------------
    
    //以下为上月交表情况
    var ctx= $('#barChart').get(0).getContext('2d');
    var barChartData={};
    var barChartOptions={};
    var chart=new Chart(ctx,{
    	type: 'bar',
		data: barChartData,
		options:barChartOptions,
		
    });
    
    //以下为PolarChart
    window.chartColors = {
		red: 'rgb(255, 99, 132)',
		orange: 'rgb(255, 159, 64)',
		yellow: 'rgb(255, 205, 86)',
		green: 'rgb(75, 192, 192)',
		blue: 'rgb(54, 162, 235)',
		purple: 'rgb(153, 102, 255)',
		grey: 'rgb(201, 203, 207)'
    };
    var chartColors = window.chartColors;
	var color = Chart.helpers.color;

    var backgroundColor =[color(chartColors.red).alpha(0.5).rgbString(),
						color(chartColors.orange).alpha(0.5).rgbString(),
						color(chartColors.yellow).alpha(0.5).rgbString(),
						color(chartColors.green).alpha(0.5).rgbString(),
						color(chartColors.blue).alpha(0.5).rgbString(),
					];
    var polarOption={
				responsive: true,
				legend: {
					position: 'top',
				},
				title: {
					display: true,
					text: 'Chart.js Polar Area Chart'
				},
				scale: {
					ticks: {
						beginAtZero: true
					},
					reverse: false
				},
				animation: {
					animateRotate: false,
					animateScale: true
				}
			};

    
    var domChartArea1=document.getElementById("chart-area1");
    window.ctx1=document.getElementById("chart-area1").getContext("2d");
    var polarData={
		datasets: [{
			data:  [0,0,0,0],
			backgroundColor: backgroundColor,
			label: 'My dataset' // for legend
		}],
		labels: [0,0,0,0]
	}
    var config1 = {
			data: {
				datasets: [{
					data:  [0,0,0,0],
					backgroundColor: backgroundColor,
					label: 'My dataset' // for legend
				}],
				labels: [0,0,0,0]
			},
			options:polarOption 
		};
    
    window.chartArea1 = Chart.PolarArea(ctx1,{
    	
		data: polarData,
		options:polarOption,
		
    });
    getLastMonthEfficiency("second","福州新闻网(社新媒体中心)","部门主任组");

   function loadLastMonthEfficiency(data,labels,deptLevel,deptName,groupName){

         polarOption.title.text="上个月月度考核完成情况："+deptName+"-"+groupName;
	     polarData={
			datasets: [{
				data:  data,
				backgroundColor: backgroundColor,
				label: 'My dataset' // for legend
			}],
			labels: labels
		 }

       
     
      
        chartArea1.data=polarData;
	    chartArea1.options=polarOption;
        chartArea1.update();
        
   		
   }       //获取上月完成情况
    function getLastMonthEfficiency(deptLevel,deptName,groupName){
    	$.ajax({
    		type:'post',
    		url:'/process/monthApprovalEfficiency/'+deptLevel+'/'+deptName,
    		dataType:'json',
    		success:function(data){
    		    
    			loadLastMonthEfficiency(data.data,data.labels,deptLevel,deptName,groupName)
    		}
    	});
    } 
    //以下为折线图
    var ctx2= $('#chart-area2').get(0).getContext('2d');
    var chartData2={};
    var chartOptions2={};
    var chart2=new Chart(ctx2,{
    	type: 'line',
		data: chartData2,
		options:chartOptions2,
		
    });
    //获取历史完成情况
    getHistoryMonthEfficiency("third","福州日报社","部门主任组");
    function getHistoryMonthEfficiency(deptLevel,deptName,groupName){
        $.ajax({
    		type:'post',
    		url:'/process/getHistoryMonthEfficiency/'+deptLevel+'/'+deptName,
    		dataType:'json',
    		success:function(data){
    		    
    			loadHistoryMonthEfficiency(data.dataset,data.labels,data.names,deptLevel,deptName,groupName);
    		}
    	});
    }
    function loadHistoryMonthEfficiency(dataset,labels,names,deptLevel,deptName,groupName){
    var datasets=[];
        var color=["#3c8dbc","#dd4b39","#00a65a","#00c0ef","#f39c12","#00FFFF","#333"]
        for(x in dataset){
        	datasets.push(
        	{
        		label:names[x],
        		type: 'line',
        		fill: false,
				backgroundColor: color[x%7],
				borderColor: color[x],
        		data:dataset[x]
        	}
        	);
        }
    	chartData2={
    		labels:labels,
    		datasets:datasets
    	};
	    chartOptions2                  = {
	            responsive: true,
				legend: {
					position: 'top',
				},
				title: {
					display: true,
					text: '审批同比效率:'+deptName+'-'+groupName
				},
				//给柱子添加点击事件"click"
		        events : ["mousemove", "mouseout", "click"],
		        onClick : function (event, bars){
		           var activeElement = bars[0];   //当前被选中的元素
		           if(activeElement==null){
		           		
		           		
		           		
		           }else{
		           		var product = activeElement._model.label;
		           		
		           }
		           
		           
		        },
	    }
	  

	   chart2.data=chartData2;
	   chart2.options=chartOptions2;
	   chart2.update();
    }

   getMonthCompletionRate();
    function getMonthCompletionRate(){
    
    	//ajax
    	$.ajax({
    		type:'post',
    		url:'/process/completionRate',
    		dataTyp:'json',
    		success:function(data){
    		
    			var result=eval('(' + data + ')');
    			result=JSON.parse(result);
    			var deptNames=[];


    			getMonthCompletionRateAsChart(result.deptNames,result.userRateSubmitted,result.processRateCompletted);
    		}
    	});

    }
    function loadUnCompletionRateForEachDept(groupName,deptLevel,deptName){
    	$.ajax({
    		type:'post',
    		url:'/process/unCompletionRateForEachDept/'+groupName+"/"+deptLevel+"/"+deptName,
    		dataType:'json',
    		success:function(data){
    		   var length=9;
    		   for(x in data.deptNames){
    		       
    		   		if(data.deptNames[x].length>length)data.deptNames[x]=data.deptNames[x].substring(0,length)+"..";
    		   }
               getUnCompletionRateForEachDept(data.deptNames,data.rates,groupName,deptName);
    		}
    	});
    }
    
    function loadCompletionRateForGroup(deptName){
    	//ajax
    	
    	$.ajax({
    		type:'post',
    		url:'/process/unCompletionRateForEachGroup/second/'+deptName,
    		dataTyp:'json',
    		success:function(data){
    		   
    			var result=eval('(' + data + ')');
    			getUnCompletionRateForGroup(result.groups,result.rates,deptName);

    		}
    	});
    }
    function loadAVGDurationForEachTask(deptName,groupName,secondDeptName){
    	$.ajax({
    		type:'post',
    		url:'/system/activiti/selectAVGDration/'+deptName+'/'+groupName,
    		dataType:'json',
    		success:function(data){
    	
    			getAVGDurationForEachTask(data.labels,data.dataset,data.names,deptName,groupName,secondDeptName)
    		}
    	});
    }
    function getAVGDurationForEachTask(labels,dataset,names,deptName,groupName,secondDeptName){
        var datasets=[];
        var color=["#3c8dbc","#dd4b39","#00a65a","#00c0ef","#f39c12","#00FFFF","#FFFF00"]
        for(x in dataset){
        	datasets.push(
        	{
        		label:names[x],
        		type: 'line',
        		fill: false,
				backgroundColor: color[x%7],
				borderColor: color[x],
        		data:dataset[x]
        	}
        	);
        }
    	barChartData={
    		labels:labels,
    		datasets:datasets
    	};
	    barChartOptions                  = {
	            responsive: true,
				legend: {
					position: 'top',
				},
				title: {
					display: true,
					text: '月度考核:'+deptName+'-'+groupName+'-每个流程平均耗时（小时）'
				},
				//给柱子添加点击事件"click"
		        events : ["mousemove", "mouseout", "click"],
		        onClick : function (event, bars){
		           var activeElement = bars[0];   //当前被选中的元素
		           if(activeElement==null){
		           		
		           		
		           		loadUnCompletionRateForEachDept(groupName,"second",secondDeptName);
		           		getLastMonthEfficiency("second",secondDeptName,"部门主任组");
		           }else{
		           		var product = activeElement._model.label;
		           		loadUnCompletionRateForEachDept(groupName,"second",secondDeptName);
		           		
		           }
		           
		           
		        },
	    }
	  

	   chart.data=barChartData;
	   chart.options=barChartOptions;
	   chart.update();
    }
    function getUnCompletionRateForEachDept(labels,data1,groupName,deptName){
    	barChartData={
    		labels:labels,
    		datasets:[
    			{
    				label:'未审占比',
    				backgroundColor: 'rgba(60,141,188,0.9)',
    				data:data1,
    			}
    		]
    	};
	    barChartOptions                  = {
	            responsive: true,
				legend: {
					position: 'top',
				},
				title: {
					display: true,
					text: '月度考核:'+deptName+'-'+groupName
				},
				//给柱子添加点击事件"click"
		        events : ["mousemove", "mouseout", "click"],
		        onClick : function (event, bars){
		           var activeElement = bars[0];   //当前被选中的元素
		           if(activeElement==null){
		           		loadCompletionRateForGroup(deptName);
		           }else{
		           		var product = activeElement._model.label;
		           		loadAVGDurationForEachTask(product,groupName,deptName)
		           		
		           		getLastMonthEfficiency("first",product,"部门主任组");
		           }
		           
		           
		        },
	    }

	   chart.data=barChartData;
	   chart.options=barChartOptions;
	   chart.update();
    }
    function getUnCompletionRateForGroup(labels,data1,deptName){
    	barChartData={
    		labels:labels,
    		datasets:[
    			{
    				label:'流程数占比',
    				backgroundColor: 'rgba(60,141,188,0.9)',
    				data:data1,
    			}
    		]
    	};
	    barChartOptions                  = {
	            responsive: true,
				legend: {
					position: 'top',
				},
				title: {
					display: true,
					text: '月度考核:'+deptName
				},
				//给柱子添加点击事件"click"
		        events : ["mousemove", "mouseout", "click"],
		        onClick : function (event, bars){
		           var activeElement = bars[0];   //当前被选中的元素
		           if(activeElement==null){
		           		getMonthCompletionRate();
		           		getHistoryMonthEfficiency("third","福州日报社","部门主任组");
		           }else{
		           		var product = activeElement._model.label;
		           		if(product=="未提交") {
		           			//getUnsubmittedUser("second",deptName);
		           			return;
		           		}
		           		loadUnCompletionRateForEachDept(product,"second",deptName);
		           }
		           
		           
		        },
	    }
	 
	   chart.data=barChartData;
	   chart.options=barChartOptions;
	   chart.update();
    }
 //   function getUnsubmittedUser(deptLevel,deptName){
   //    alert(deptName);
  //  }
    function getMonthCompletionRateAsChart(labels,data1,data2){
    
       barChartData = {
	      labels  : labels,
	      datasets: [
	        {
	          label               : '提交率',
	          backgroundColor     : 'rgba(210, 214, 222, 1)',
	          data                : data1
	        },
	        {
	          label               : '审结率',
	          backgroundColor     : 'rgba(60,141,188,0.9)',
	          data                : data2
	        }
	      ]
       }
	   barChartOptions                  = {
	            responsive: true,
				legend: {
					position: 'top',
				},
				title: {
					display: true,
					text: '月度考核'
				},
				//给柱子添加点击事件"click"
		        events : ["mousemove", "mouseout", "click"],
		        onClick : function (event, bars){
		           var activeElement = bars[0];   //当前被选中的元素
		           if(activeElement==null){
		           	  
		           	
		           }else{
		           	  var product = activeElement._model.label;
		              getHistoryMonthEfficiency("second",product,"部门主任组");
		              getLastMonthEfficiency("second",product,"部门主任组");
		              
		              loadCompletionRateForGroup(product);
		           }
		           
		        },
	    }
	 
	   chart.data=barChartData;
	   chart.options=barChartOptions;
	   chart.update();
     
    }
    
         
	 //获取上月排名前10名，并添加到滚动栏
	 getTenTotalMark();
	 function getTenTotalMark(){
	    var startDate=[[${startDateOfLastMonth}]];
	    var endDate=[[${endDateOfLastMonth}]];
	    var total=10;
	 	 //ajax
		       $.ajax({
				  type: 'POST',
				  url: "/responsibility/selectHistoryTotalMark/month?startDate="+startDate+"&endDate="+endDate+"&total="+total,
				  dataType: "json",
				  success: function(data){
				  
				  	var result=" ";
                    var date=new Date(Date.parse(data[0].startDate));
                    var month=date.getMonth()+1;
				  	result+=month+"月份 月度考核排名前10: ";
				  	for(x in data){
				  		
				  		result+='<a style="color:white;" href="/responsibility/projectList?userId='+data[x].user.id+'&startDate='+startDate+'&endDate='+endDate+'">'+data[x].user.username+'</a>&nbsp;&nbsp;';
				  		
				  	}
				  	addMessage('.marquee',result);
				  }
				 
				});
				//ajax
	 }      
     //multiple table
    
    // var groups=["第一考核组","第二考核组","第三考核组","第四考核组"];
     var groups=[[${assessGroups}]];
     var posts=["中层","普通员工"];
     var total=[5,10];
     
     //加减分排行
     getData();

     function getData(){
       
        $('#month').html('');
        for(x in posts){
            if(posts[x]=='普通员工'){
            
            	$('#month').append('<div class="tit"><p>工作人员'+[[${year}]]+'年一线考核加减分排行（累计）<a href="/responsibility/rankList/month?group=第一考核组&amp;postNameLike='+posts[x]+'" style="color:red;float:right;" >》》更多&nbsp;&nbsp;&nbsp;</a></p></div>')
            }
        	if(posts[x]=='中层'){
            	$('#month').append('<div class="tit"><p>中层干部'+[[${year}]]+'年一线考核加减分排行（累计）<a href="/responsibility/rankList/month?group=第一考核组&amp;postNameLike='+posts[x]+'" style="color:red;float:right;" >》》更多&nbsp;&nbsp;&nbsp;</a></p></div>')
            }
        	for(y in groups){
        		$('#month').append('<div class="khzu" id="'+x+'-'+y+'"><p class="p1">'+groups[y]+'</p></div>');
        		
                getDataForEachGroup(x,y);
               
        	}
        	
        }
        

     }
     
     function getDataForEachGroup(a,b){
     
     	       //ajax
		       $.ajax({
				  type: 'POST',
				  url: "/responsibility/selectTotalMarkForEachGroup/"+groups[b]+"/"+posts[a]+"/"+total[a],
				  dataType: "json",
				  success: function(data){
				     var result="";
				    
				     for(x in data){
				       
				      // var aLink='<a href="/responsibility/projectList?userId='+data[x].user.id+'&startDate='+[[${startDateOfYear}]]+'&endDate='+[[${endDateOfYear}]]+'">'+data[x].user.username+'</a>';
				       var aLink='<a href="javascript:void(0);" onclick="javascript:getDetailsOfMarks(\''+data[x].user.id+'\',\''+[[${startDateOfYear}]]+'\',\''+[[${endDateOfYear}]]+'\',\'1\')">'+data[x].user.username+'</a>';
				     	result+='<p class="p2">'+aLink+'</p><p class="p2">'+data[x].totalMark+'</p>';
				     }
				     var length=data.length;
				     
		             if(length<total[a]){
		               
		             	for(var i=0;i<total[a]-length;i++){
		             	   
		             		 result+='<p class="p2">&nbsp;</p><p class="p2">&nbsp;</p>';
		             		 
		             	}
		             }
		              $('.wt').html()
				      $("#"+a+"-"+b+"").append(result);
				  }
				 
				});
				//ajax
     }
    //获取存储在/upload/public文件中的公共文件
    getFileLinks("public");
    function getFileLinks(pathname){
       
    	 $.ajax({
		  type: 'POST',
		  url: "/file/getFileLinks/"+pathname,
		  dataType: "json",
		  success: function(data){
		     var result="";
		     for(x in data){
		      
		        var y;
		        //获取文件名
		          //linux
		        if(data[x].indexOf("/")!="-1") y=data[x].split("/");
		          //windows
		        if(data[x].indexOf("\\")!="-1") y=data[x].split("\\");
		     	//去掉后缀名
		  
		     	var z=y[y.length-1].substring(0,y[y.length-1].lastIndexOf("."));
		     	
		     	result+='<li><a href="/file/download?filename='+data[x]+'">'+z+'</a></li>';
		     
		     }
		     
		      $(".wjul").html(result);   

		  }
		 
		});
    }
    
    //未提交名单
    getUnsubmitted('month');    
    function getUnsubmitted(taskType){
       
    	$.ajax({
		  type: 'POST',
		  url: "/responsibility/selectAllUsersWhoUnsubmittedProcess/"+taskType+"?total=30",
		  dataType: "json",
		  success: function(data){
		     var html="";
		     
		     result=JSON.parse(data);
            
             if(result){
                
             	$('#unSubmitted').html('<div class="tit '+result.degreeOfUrgency+'">'+result.titleLike+'<a href="/responsibility/unsubmittedList/month">更多</a></div> <ul class="wtul clean '+result.degreeOfUrgency+'B"></ul>');
             }
		     for(x in result.users){
		      
		       html+='<li>'+result.users[x].username+'</li>';
		     	
		     }
               
		      if(html){
		      	 $(".wtul").html(html); 
		      }  

		  } 
		 
		});
    }


    

    
    var msg=[[${msg}]];
    if(msg!=null) {
    	alert(msg);
    	msg=null;
    }
    
    
	var use_debug = false;

	function debug(){
		
	}

	// on DOM ready
	$(document).ready(function (){
		$(".marquee").marquee({
			loop: -1
			// this callback runs when the marquee is initialized
			, init: function ($marquee, options){
				debug("init", arguments);

				// shows how we can change the options at runtime
				if( $marquee.is("#marquee2") ) options.yScroll = "bottom";
			}
			// this callback runs before a marquee is shown
			, beforeshow: function ($marquee, $li){
				debug("beforeshow", arguments);

				// check to see if we have an author in the message (used in #marquee6)
				var $author = $li.find(".author");

			}
			// this callback runs when a has fully scrolled into view (from either top or bottom)
			, show: function (){
				debug("show", arguments);
			}
			// this callback runs when a after message has being shown
			, aftershow: function ($marquee, $li){
				debug("aftershow", arguments);

				// find the author
				var $author = $li.find(".author");
				// hide the author
				if( $author.length ) $("#marquee-author").find("> span").fadeOut(250);
			}
		});
	});
	
	var iNewMessageCount = 0;
	
	function addMessage(selector,msg){
		// increase counter
		iNewMessageCount++;
       // console.log(selector+",msg="+msg);
		// append a new message to the marquee scrolling list
		var $ul = $(selector).prepend("<li>" + msg + "</li>");
		// update the marquee
		$ul.marquee("update");
	}
	
	function pause(selector){
		$(selector).marquee('pause');
	}
	
	function resume(selector){
		$(selector).marquee('resume');
	}

    //半年和全年数据
    var taskType_year='halfYear';
    setTimes();
    $(".tit a").each(function(){
    	$(this).click(function(){
    		 $(".tit a").attr("class","default2");
    		 $(this).attr("class","active1");
    		 taskType_year=$(this).attr("id");
    		 $('#mytab').bootstrapTable('refresh', {url: '/responsibility/selectAllEvaluation/'+taskType_year});
    		 
    		 setTimes();
    	});
    });
   //考核组
    var assessGroups=[[${assessGroups}]];
    $("#assessGroups").html('<input id="assessGroup" type="text" style="display:none;"/>');
    for(x in assessGroups){
    	$("#assessGroups").append('<button class="btn btn-primary">'+assessGroups[x]+'</button>');
    }
    $("#assessGroups button").click(function(){
        $("#assessGroup").val($(this).html());
        $("#assessGroups button").removeClass("btn-lg");
        $(this).addClass("btn-lg");
    	$('#mytab').bootstrapTable('refresh', {url: '/responsibility/selectAllEvaluation/'+taskType_year});
    });
    function setTimes(){
        $('#times').html('<option value="">----请选择日期-----</option>');
    	var date=new Date();
    	var year=date.getFullYear();
    	var pre=[];
    	if(taskType_year=='halfYear') pre=["年上半年","年下半年"];
    	if(taskType_year=='fullYear') pre=["年"];
    	for(var i=0;i<5;i++){
    	    
    		for(x in pre){
    			$('#times').append('<option value="'+(year-i)+pre[x]+'">'+(year-i)+pre[x]+'</option>');
    		}
    	}
    }
  //bootstrapTable保存pageIndex
    var state={};
    if(window.history.state){
    	state=window.history.state;
    }else{
       state = { 
        'pageIndex':1, 
        'pageSize':10,
        };
        window.history.pushState(state,'home',null);
    }
    var column=[
            {
                title:'全选',
                field:'select',
                //复选框
                checkbox:true,
                align:'center',
                valign:'middle'
            },
            {
            	title:'排名',
            	formatter:function(value,row,index){
            		var pageSize=$('#mytab').bootstrapTable('getOptions').pageSize;
            		var pageNumber=$('#mytab').bootstrapTable('getOptions').pageNumber;
            		return pageSize*(pageNumber-1)+index+1;
            	},
            },
            {
                title:'用户Id',
                field:'user.id',
                visible:false
                
            },
            {
            	title:'用户姓名',
            	field:'user.username',
            },
            {
            	title:'电话',
            	field:'user.phone',
            	visible:false
            },
            {
            	title:'部门',
            	formatter:function(value,row,index){ 
           				if(row.user.userLinkDepts.length==1){
					        
					     	 return row.user.userLinkDepts[0].firstLevel.name;
					     }else{
					        if(row.user.userLinkDepts[0]){
					        return row.user.userLinkDepts[0].secondLevel.name;
					        } else{
					        	return"无部门，请至《个人中心》添加";
					        }
					     	 
					     }
            	}
            },
            
            {
            	title:'总分',
            	field:'evaluation.totalMark'
            },
            {	
            	title:'考核结果',
            	field:'evaluation.result'
            }
          
        ];
    if(assessGroupFlag) column=[{
                title:'全选',
                field:'select',
                //复选框
                checkbox:true,
                align:'center',
                valign:'middle'
            },
            {
            	title:'排名',
            	formatter:function(value,row,index){
            		var pageSize=$('#mytab').bootstrapTable('getOptions').pageSize;
            		var pageNumber=$('#mytab').bootstrapTable('getOptions').pageNumber;
            		return pageSize*(pageNumber-1)+index+1;
            	},
            },
            {
                title:'用户Id',
                field:'user.id',
                visible:false
                
            },
            {
            	title:'用户姓名',
            	field:'user.username',
            },
            {
            	title:'电话',
            	field:'user.phone',
            	visible:false
            },
            {
            	title:'部门',
            	formatter:function(value,row,index){ 
           				if(row.user.userLinkDepts.length==1){
					        
					     	 return row.user.userLinkDepts[0].firstLevel.name;
					     }else{
					        if(row.user.userLinkDepts[0]){
					        return row.user.userLinkDepts[0].secondLevel.name;
					        } else{
					        	return"无部门，请至《个人中心》添加";
					        }
					     	 
					     }
            	}
            },
            {
            	title:'考效总分',
            	field:'evaluation.marks',
           
             	formatter:function(value,row,index){
             	    var startDate=row.evaluation.startDate;
           	    var date=new Date(startDate);
            	    startDate=date.format('yyyy-MM-dd');
            	    
             	    var endDate=row.evaluation.endDate;
            	    
             	    date=new Date(endDate);
            	    
             	    endDate=date.format('yyyy-MM-dd');
                    
             	    var userId=row.user.id;
            	    var checked="1";
            		var aLink='<a href="javascript:void(0);" onclick="javascript:getDetailsOfMarks(\''+userId+'\',\''+startDate+'\',\''+endDate+'\',\''+checked+'\')">'+row.evaluation.marks+'</a>';
            		
            		
            		return aLink;
             	}

             },
             {
             	title:'群众评议',
             	field:'evaluation.publicEvaluation',
           	
             },
             {
             	title:'领导点评',
            	field:'evaluation.leadershipEvaluation',
             	
            },
             {
             	title:'组织考核',
            	field:'evaluation.overseerEvaluation',
            	
            },
            {
            	title:'总分',
            	field:'evaluation.totalMark'
            },
            {	
            	title:'考核结果',
            	field:'evaluation.result'
            }
          
        ];
    $('#mytab').bootstrapTable({
        method: 'post',
        contentType: "application/x-www-form-urlencoded",//必须要有！！！！
        url:'/responsibility/selectAllEvaluation/'+taskType_year,//要请求数据的文件路径
        //height:tableHeight(),//高度调整
        toolbar: '#toolbar',//指定工具栏
        striped: true, //是否显示行间隔色
        pageNumber:window.history.state.pageIndex, //初始化加载第一页，默认第一页
        pagination:true,//是否分页
        queryParamsType:'limit',//查询参数组织方式
        queryParams:queryParams,//请求服务器时所传的参数
        sidePagination:'server',//指定服务器端分页
        pageSize:10,//单页记录数
        pageList:[5,10,20,30],//分页步进值
        showRefresh:true,//刷新按钮
        showColumns:true,
        clickToSelect: true,//是否启用点击选中行
        toolbarAlign:'left',//工具栏对齐方式
        buttonsAlign:'left',//按钮对齐方式
        toolbar:'#toolbar',//指定工作栏
        columns:column,
        locale:'zh-CN',//中文支持,
        responseHandler:function(result){
	
		    return result;
        }
    })



    //请求服务数据时所传参数
    function queryParams(params){
        state = { 
        'pageIndex':params.pageNumber, 
        'pageSize': params.limit,
        };
        window.history.replaceState(state,'home',null);
        return{
            //每页多少条数据
            pageSize: params.limit,
            //请求第几页
            pageIndex:params.pageNumber,
            //部门:
            secondDeptId:$('#second').val(),
            //时间：
            times:$('#times').val(),
            assessGroup:$('#assessGroup').val(),
            username:$('#name').val(),

        }
    }
     //查询按钮事件
    $('#search_btn').click(function(){
       
        $('#mytab').bootstrapTable('refresh', {url: '/responsibility/selectAllEvaluation/'+taskType_year});
    });
    $('#second').change(function(){
    	 $('#mytab').bootstrapTable('refresh', {url: '/responsibility/selectAllEvaluation/'+taskType_year});
    });
    $('#times').change(function(){
    	 $('#mytab').bootstrapTable('refresh', {url: '/responsibility/selectAllEvaluation/'+taskType_year});
    });
    $('#name').change(function(){
    	 $('#mytab').bootstrapTable('refresh', {url: '/responsibility/selectAllEvaluation/'+taskType_year});
    });
    
    //按妞事件
   
    $("#btn_export").click(function(){
        if(confirm("确定要导出吗？")){
        	location.href="/file/export/assessment/"+taskType_year+"?secondDeptId="+$("#second").val()+"&times="+$('#times').val()+"&assessGroup="+$('#assessGroup').val();
        }
    	
    });
    //modal table
   
    function getDetailsOfMarks(userId,startDate,endDate,checked){
        $('#table tbody').html('');
         $.ajax({
         	type:'post',
         	url:'/responsibility/selectAllMark?userId='+userId+'&startDate='+startDate+'&endDate='+endDate+'&checked='+checked,
         	dataType:'json',
         	success:function(data){
         		
         		var marks=data;
         		 
         		 var result='';
         		
       		 	 for(x in marks){
    	               var date=new Date(Date.parse(marks[x].createTime));
         		       var startDate=new Date(Date.parse(marks[x].startDate));
         		       var endDate=new Date(Date.parse(marks[x].endDate));
         		       
    	   		       result+='<tr><td>'+marks[x].markId+'</td><td style="width:80px;">'+startDate.format('yyyy-MM-dd')+'</td><td style="width:80px;">'+endDate.format('yyyy-MM-dd')+'</td><td style="width:140px;">'+date.format('yyyy-MM-dd hh:mm:ss')+'</td><td>'+marks[x].markNumber+'</td><td>'+marks[x].markReason+'</td><td>'+marks[x].accordingly+'</td></tr>';
    	          }
         		 
      	          $('#table tbody').html(result);
      	          $('#modalButton').click();
         	}
         });

    
    }
    
 //]]>	
 
    </script>

</html>