@charset "utf-8";
/* CSS Document */

* { margin: 0px; padding: 0px; border-width: 0px; }
body { font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", "Arial Narrow"; }
ul { list-style-type: none; }
a { text-decoration: none; }
a:hover, a:active, a:focus { text-decoration: underline; }
.clean:after { display: block; clear: both; content: ""; visibility: hidden; height: 0; }
.clean { zoom: 1; }