
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../static/images/favicon.ico"/>

    <title>排名</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
     <link href="/css/bootstrap-select.min.css" rel="stylesheet"/>
     <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
     <link href="/css/plugins/bootstrap-table.min.css" rel="stylesheet"/>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/css/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
   
   
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <style  type="text/css">
.top { background: url(/images/top.jpg) no-repeat center top; width: 1140px; height: 200px; padding-top: 146px; margin: 0px auto; box-shadow: 0px -10px 30px 5px #999999; }
.top h3{ float:left; padding:11px 15px; border: 1px solid #ddd; margin:0;}
.tb {line-height: 50px; float: left;  font-size: 20px; background-color: #367fa9; text-align: center; width: 130px; }
.tb a { color: #FFF; text-decoration: none; }
.gg { font-size: 16px; color: #FFF; background-color: #3c8dbc; width: 1070px; height: 50px; line-height: 50px; float: left; }
@media screen and (max-width:721px) {
.top { background: url(/images/top2.jpg) no-repeat center top; width: 100%; }
.tb { font-size: 16px; width: 30%; }
.gg { font-size: 14px; width: 65%; padding-left: 5%;}
}


</style>
    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-3.2.1.js"></script>

    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/holder.min.js"></script>

    <script src="/js/bootstrap-select.min.js"></script>
    
    <script src="/js/moment-with-locales.min.js"></script>
    
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    
    <script src="/js/plugins/bootstrap-table.min.js"></script>
    
    <script src="/js/plugins/bootstrap-table-zh-CN.min.js"></script>
    
    <!-- 日期 -->
    <script src="/js/DateUtils.js"></script>
    
    <div class="container"> 
    <div class="top">
	    <p class="tb">
	  	   <a href="/home" >首页</a>
	       
	    </p>
	    <h3 id="month"> 月考排名</h3>
 
     </div>
    
		<div  class="tab-content">
			 <div class="tab-pane fade in active" id="home">
			  <nav class="navbar navbar-default" role="navigation">
			   <div class="container-fluid">
			     <div class="navbar-header">
			       
			     </div>
			
			     <div class="navbar-form" role="search">
			      
			
					   <div class="form-group">  
		                    <!--指定 date标记-->  
		                    <div class='input-group date' id='datetimepicker1'>  
		                        <input  id="startDate" type='text' class="form-control" placeholder="开始日期" th:value="${startDate}"/>  
		                        <span class="input-group-addon">  
		                            <span class="glyphicon glyphicon-calendar"></span>  
		                        </span>  
		                    </div>  
		              </div>  
		              <div class="form-group">  
		                    <!--指定 date标记-->  
		                    <div class='input-group date' id='datetimepicker2'>  
		                        <input id="endDate" type='text' class="form-control" placeholder="结束日期" th:value="${endDate}" />  
		                        <span class="input-group-addon">  
		                            <span class="glyphicon glyphicon-calendar"></span>  
		                        </span>  
		                    </div>  
		              </div>  
			          <div class="form-group">
			          	 <select id="groups" class="selectpicker"  data-live-search="true" title="请选择考核组"  multiple="multiple">
		         			<option th:each="g:${groups}" th:value="${g}" th:text="${g}"></option>
		               </select>
			          </div>
			          
			          <div class="form-group">
			          	 <select id="posts" class="selectpicker"  data-live-search="true" title="请选择职级"  multiple="multiple">
		         			<option th:each="p:${posts}" th:value="${p.name}" th:text="${p.name}" th:if="${p.name} ne '高层正职' and ${p.name} ne '高层副职'"></option>
		         			<option value="项目舞台负责人">项目舞台负责人</option>
		                </select>
			          </div>
			     </div>
			         
			   </div>
			   <!-- .container-fluid -->
			 </nav>
			
			   <!-- 工具栏 -->
			  <div id="toolbar" class="btn-group pull-left" >
			     <button id="btn_export" type="button" class="btn btn-primary">
			        <span class="glyphicon glyphicon-plus" aria-hidden="true">导出Excel</span>
			   </button>
			  </div>
			  <!-- /工具栏 -->
			  <table id="mytab" class="table table-hover"></table>
			</div>
			
		</div>
    
    

</div>
<!-- 加减分明细 -->
        <button  id="modalButton" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalTable" style="display:none;">点击查看</button>
        <div class="modal fade" id="modalTable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
            <div class="modal-dialog" style="width:900px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">加减分明细</h4>
                    </div>
                    <div class="modal-body">
                        <table id="table"
                               data-toggle="table"
                               data-height="499"
                              >
                            <thead>
                            <tr>
                                <th style="width:80px;">id</th>
                                <th style="width:100px;">开始日期</th>
                                <th style="width:100px;">结束日期</th>
                                <th style="width:100px;">生成日期</th>
                                <th style="width:80px;">评分</th>
                                <th>评分原因</th>
                                <th>评分依据</th>
                                
                            </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
<!-- 项目明细 -->
        <button  id="modalButton1" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalTable1" style="display:none;">点击查看</button>
        <div class="modal fade" id="modalTable1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
            <div class="modal-dialog" style="width:900px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">加减分明细</h4>
                    </div>
                    <div class="modal-body">
                        <table id="table1"
                               data-toggle="table"
                               data-height="499"
                              >
                            <thead>
                            <tr>
                                <th style="width:80px;">id</th>
                                <th>项目内容</th>
                                <th>项目进展</th>
                                
                            </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
 <script th:inline="javascript">
//<![CDATA[


    //下拉框加载时初始值设定
    if([[${group}]]){
       
    	$('#groups').selectpicker('val',[[${group}]].replace(/'/g,""));
    }
    if([[${postNameLike}]]){
        var postNameLike=[[${postNameLike}]];
      
        var ids=[];
        $("#posts option").each(function(){
            if($(this).text().indexOf(postNameLike)>-1) {
                
            	ids.push($(this).text());
            }
        	
        }); 
        $('#posts').selectpicker('val',ids);
    	
    }
    
    //bootstrapTable保存pageIndex
    var state={};
    if(window.history.state){
    	state=window.history.state;
    }else{
       state = { 
        'pageIndex':1, 
        'pageSize':10,
        };
        window.history.pushState(state,'rankList',[[${taskType}]]);
    }
   //当搜索框中的值 改变时 自动刷新
   $('select').each(function(){
   	 $(this).change(function(){
   	 	$('#mytab').bootstrapTable('refresh', {url: '/responsibility/selectHistoryTotalMark/'+[[${taskType}]]});
   	 });
   });
   $('input').each(function(){
     
   	 $(this).change(function(){
   	   
   	 	$('#mytab').bootstrapTable('refresh', {url: '/responsibility/selectHistoryTotalMark/'+[[${taskType}]]});
   	 });
   });
    //根据窗口调整表格高度
    $(window).resize(function() {
        $('#mytab').bootstrapTable('resetView', {
            height: tableHeight()
        })
    })
    //生成用户数据
    var monthColumns=[
            {
                title:'全选',
                field:'select',
                //复选框
                checkbox:true,
                align:'center',
                valign:'middle'
            },
            {
                title:'名次',
                field:'',
                
            },
            {
            	title:"姓名",
            	field:'',
            },
            {
            	title:"所属部门",
            	field:'',
            },
            {
            	title:"考效总分",
            	field:'',
            }
          
        ];
   
        
   
    $('#mytab').bootstrapTable({
        method: 'post',
        contentType: "application/x-www-form-urlencoded",//必须要有！！！！
        url:"/responsibility/selectHistoryTotalMark/"+[[${taskType}]],//要请求数据的文件路径
        //height:tableHeight(),//高度调整
        toolbar: '#toolbar',//指定工具栏
        striped: true, //是否显示行间隔色
        pageNumber:window.history.state.pageIndex, //初始化加载第一页，默认第一页
        pagination:true,//是否分页
        queryParamsType:'limit',//查询参数组织方式
        queryParams:queryParams,//请求服务器时所传的参数
        sidePagination:'server',//指定服务器端分页
        pageSize:10,//单页记录数
        pageList:[5,10,20,30],//分页步进值
        showRefresh:true,//刷新按钮
        showColumns:true,
        clickToSelect: true,//是否启用点击选中行
        toolbarAlign:'left',//工具栏对齐方式
        buttonsAlign:'left',//按钮对齐方式
        toolbar:'#toolbar',//指定工作栏
        columns:[
            {
                title:'全选',
                field:'select',
                //复选框
                checkbox:true,
                align:'center',
                valign:'middle'
            },
            {
            	title:'排名',
            	formatter:function(value,row,index){
            		var pageSize=$('#mytab').bootstrapTable('getOptions').pageSize;
            		var pageNumber=$('#mytab').bootstrapTable('getOptions').pageNumber;
            		return pageSize*(pageNumber-1)+index+1;
            	},
            },
            {
                title:'用户Id',
                field:'user.id',
                
            },
            {
            	title:'用户姓名',
            	field:'user.username',
            	formatter:function(value,row,index){
            	    var startDate=$('#startDate').val();
            	    var endDate=$('#endDate').val();
            		
            		var aLink='<a href="javascript:void(0);" onclick="javascript:getDetailsOfMarks(\''+row.user.id+'\',\''+startDate+'\',\''+endDate+'\',\'1\')">'+row.user.username+'</a>';
            		return aLink;
            	}
            },
            {
            	title:'部门',
            	formatter:function(value,row,index){ 
           				if(row.user.userLinkDepts.length==1){
					        
					     	 return row.user.userLinkDepts[0].firstLevel.name;
					     }else{
					        if(row.user.userLinkDepts[0]){
					        return row.user.userLinkDepts[0].secondLevel.name;
					        } else{
					        	return"无部门，请至《个人中心》添加";
					        }
					     	 
					     }
            	}
            },
            
            {
            	title:'总分',
            	field:'totalMark'
            }
          
        ],
        locale:'zh-CN',//中文支持,
        responseHandler:function(result){
	
		    return result;
        }
    })



    //请求服务数据时所传参数
    function queryParams(params){
        state = { 
        'pageIndex':params.pageNumber, 
        'pageSize': params.limit,
        };
        window.history.replaceState(state,'rankList',[[${taskType}]]);
        return{
            //每页多少条数据
            pageSize: params.limit,
            //请求第几页
            pageIndex:params.pageNumber,
            groups:$('#groups').val().join(','),
            startDate:$('#startDate').val(),
            endDate:$('#endDate').val(),
            posts:$('#posts').val().join(','),
            taskType:[[${taskType}]],
        }
    }
     //查询按钮事件
    $('#search_btn').click(function(){
        $('#mytab').bootstrapTable('refresh', {url: '/responsibility/selectHistoryTotalMark/'+[[${taskType}]]});
    })
    //tableHeight函数
    function tableHeight(){
        //可以根据自己页面情况进行调整
        return $(window).height() -280;
    }
    //删除用户
          //导出文件
      $("#btn_export").click(function(){
        if(confirm("确定要导出吗？")){
        	location.href="/file/export/totalMark?groups="+$('#groups').val().join(',')+"&startDate="+$('#startDate').val()+"&endDate="+$('#endDate').val()+"&posts="+$('#posts').val().join(',');
        }
    	
    });
   

    var taskType = [[${taskType}]];
    $("#" + taskType).attr("class", "active");
    $(".nav nav-tabs li").each(function(){
    	$(this).click(function(){
    		 $("li").attr("class","");
    		 $(this).attr("class","active");
    		 alert($(this).attr("id"));
    		location.href="/responsibility/selectHistoryTotalMark/"+$(this).attr("id");
    	});
    });
    
    var msg=[[${msg}]];
   if(msg!=null) {
    	alert(msg);
    	msg=null;
    }
    
      //日期控件
  $('#datetimepicker1').datetimepicker({  
        format: 'YYYY-MM-DD',  
        locale: moment.locale('zh-cn'),
    });   
   $('#datetimepicker2').datetimepicker({  
        format: 'YYYY-MM-DD',  
        locale: moment.locale('zh-cn')  
    }); 
    
     //modal table
    function getProject(projectId){
    	
    	$('#table1 tbody').html('');
    	
    	$.ajax({
    		type:'post',
    		url:'/responsibility/selectProjectWithProjectId/'+projectId,
    		dataType:'json',
    		success:function(data){
    			 var result='';
    			 if(data) result='<tr><td style="width:80px;">'+data.projectId+'</td><td>'+data.projectContent+'</td><td>'+data.progress+'</td></tr>';
    			 $('#table1 tbody').html(result);
               	$('#modalButton1').click();
    		}
    	});
    	
    }
    function getDetailsOfMarks(userId,startDate,endDate,checked){
     

        $('#table tbody').html('');
         $.ajax({
         	type:'post',
         	url:'/responsibility/selectAllMark?userId='+userId+'&startDate='+startDate+'&endDate='+endDate+'&checked='+checked,
         	dataType:'json',
         	success:function(data){
         		
         		var marks=data;
         		 
         		 var result='';
         		
       		 	 for(x in marks){
       		 	       
    	               var date=new Date(Date.parse(marks[x].createTime));
         		       var startDate=new Date(Date.parse(marks[x].startDate));
         		       var endDate=new Date(Date.parse(marks[x].endDate));
         		       var aLink='<a href="javascript:void(0);" onclick="javascript:getProject(\''+marks[x].projectId+'\')"><span class="glyphicon glyphicon-hand-right"></span>'+marks[x].markId+'</a>';
    	   		       result+='<tr><td style="width:80px;">'+aLink+'</td><td style="width:100px;">'+startDate.format('yyyy-MM-dd')+'</td><td style="width:100px;">'+endDate.format('yyyy-MM-dd')+'</td><td style="width:100px;">'+date.format('yyyy-MM-dd hh:mm:ss')+'</td><td style="width:80px;">'+marks[x].markNumber+'</td><td>'+marks[x].markReason+'</td><td>'+marks[x].accordingly+'</td></tr>';
    	          }
         		 
      	          $('#table tbody').html(result);
      	          $('#modalButton').click();
         	}
         });

    
    }
//]]>
    </script>

  </body>
</html>
