<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../static/images/favicon.ico"/>

    <title>一线考核系统</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/css/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet"/>
   
  </head>
<!-- NAVBAR
================================================== -->
  <body>

       <div>
       中层干部、工作人员量化考核项目

一、“成绩单”加分项
1.完成报社确定的年度重大改革创新攻坚项目（完成20分、完成情况被评定为优30分）。取得特殊贡献的，专项研究加分项。
2.采编新闻报道或承担其他重要工作任务，经核实获得省委、省政府或主要领导以及中央、国家主管部门领导表扬表彰（20分、10分）、市委、市政府或主要领导表扬表彰（10分、5分），其他省委、省政府领导或省级主管部门领导表扬（5分、3分）。
3.采编新闻稿件获得中国新闻奖一、二、三等奖（50分、30分、20分），福建新闻奖一等奖、二等奖、三等奖（20分、10分、5分）。
4. 采写新闻稿件或网络作品获得编委会好稿奖（好照片、好标题、好版面、好策划、好网络图解等）一等奖（3分）、二等奖（2分）、三等奖（1分），编辑按30%比例加分。新媒体稿件单条阅读数10万以上（3分），5万-10万（2分）,3万-5万（1分），原则上，稿件的作者与新媒体编辑各占奖励分的50%。
5.采编新闻报道或承担其他工作任务，引发重大社会反响，或获得重大经济效益，或获得报社“金点子”奖（10分、5分、3分、2分，具体由考核组推荐，报考核工作领导小组审定）。
6.媒体项目、新闻产品获得省级及以上部门建设项目资金或政策扶持（20分、10分），新闻研究课题获省级以上资金扶持（10分、5分）。
7.版面或稿件见报前及时发现纠正重大政治性差错（10分、5分、3分），重大技术性差错（1分）。
8.经营负责人超额完成年度总收入指标任务（按超额完成的比例加分，其中发行部门的发行年度总收入和平均报纸单价各占一半分值）。经营业务人员超额完成分解收入的指标任务（按超额完成的比例加分）。
9.切实履行“一岗双责”，党建工作完成出色，被评为市级优秀党务工作者（10分）、市直机关优秀党务工作者（7分）、市宣系统优秀党务工作者（5分）、报社优秀党务工作者（3分）。
10.日常工作获得较大突破，取得明显成绩，被报社通报嘉奖的，一等（5分）、二等（3分）、三等（1分）；被编委会通报嘉奖的（1分）。
11.获评“榜样就在身边”荣誉（3分），推荐者（非中层或社领导）（0.5分）。
12.获评“放心编辑、放心记者”荣誉（5分）。
13.月度考核定评为优（1分）。
上述加分项目，涉及多人合作的，由主要责任人提出分值分配方案，交考核组确认。
二、“问题清单”减分项目：
1.被党纪、政纪轻处分或通报批评、诫勉谈话、谈话提醒的，视情节轻重分别扣（5-30分）。
2.主要承担市里或报社确定的重大任务、重大活动或重大报道，无正当理由推进不力或采编工作出现重大差错被上级批评（扣20分），或报社通报批评（扣10分），或被报社认定完成情况较差（扣5分），其他主要参与人员减半处罚。
3.部门主任对本部门负有队伍管理责任，部门工作人员出现扣5分以上情况的，按工作人员被扣分值的一定比例扣除部门主要负责人相应分值：部门人数1-10人的，按被扣分值的30%扣分；部门人数10-30人的，按被扣分值的20%扣分；部门人数30人以上的，按被扣分值的10%扣分。
4.未按要求履行“一岗双责”，造成不良影响的（扣5分、3分）。
5.采访作风不严不实，发生抄袭通讯员、网络稿件、新闻严重失实等各种严重的新闻违规违纪行为（扣10分），引发投诉、造成登报更正（扣20分），引发新闻官司（扣30分）甚至导致报社败诉（扣50分）；部门主要负责人减半处罚。
6.宣传报道口径传达不及时、不到位，造成执行脱节的（扣10分、5分）。
7.稿件、版面发生重大差错，造成重大不良影响，责任人员各扣（10分、5分）。
8.未完成编委会下达的每月新闻策划、好稿任务的，每项分别扣（3分、1分）。
9.版面出现重要差错：部门内部的同日重稿（扣10分）、异日重稿（扣3分），不同部门异日重稿（扣3分）；大标题差错（扣3分），小标题差错（扣1分）；重要技术性差错（扣1分）；被评为差版（扣1分）。
10.经营部门负责人未完成社党组下达的经营指标（按未完成任务数额的比例扣分，其中发行部门的发行年度总收入和平均报纸单价指标各占一半分值）。经营业务人员未完成部门分解的经济指标任务（按未完成任务数额的比例扣分）。
11.未达到规定的年度到款率指标（按未达指标差额的数额比例/2扣分，计算时间为上年度第四季度至本年度第三季度）。
12.未完成报社下达的清欠目标任务的，直接责任人按未完成比例百分点，减半扣分；所在部门主要负责人按直接责任人所扣分数的一半扣分。
13.印务负责人发生重大印刷质量问题（扣5分、2分），重大质量事故（扣10分）。
14.年度成本控制超出报社规定的系数范围（按超出比例扣分）。
15.在经营工作中现明显过失、玩忽职守行为，导致报社蒙受重大损失的（扣30分、20分、10分）。
16.未完成督办项目（事项），或违反报社工作纪律，不服从指挥，推托任务，以及任务不能按要求完成的（扣5分、2分）。
17.社综合部、总编室等未按报社有关规章制度，一周以内及时启动奖惩机制，并向社督查组、综合部、人力资源部报备的（扣3分、2分）。
18．月度考核定评为基本合格扣（1分），不合格扣（3分）。
19.未按时间规定提交一线考核表的，超过一天扣（0.5分）；无特殊理由超过5天未提交一线核表的，当月或半年度、年度考评自动定格为不合格等次。
三、说 明
1．上述加减分项如有重复交叉的，不重复计算，按就高原则加减分。
2.经营指标完成以年度完成情况为准。
3.建立容错机制，确因报业改革历史遗留问题等特殊原因造成被扣分的，经社党组研究，可从轻扣分或免予扣分。
       
       </div>

        

    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-3.2.1.js"></script>

    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/holder.min.js"></script>

  </body>
</html>
