
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../static/images/favicon.ico"/>

    <title>一线考核系统</title>


    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
     <link href="/css/bootstrap-select.min.css" rel="stylesheet"/>
     <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
     <link href="/css/plugins/bootstrap-table.min.css" rel="stylesheet"/>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/css/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
   
   
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    
    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-3.2.1.js"></script>

    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/holder.min.js"></script>

    <script src="/js/bootstrap-select.min.js"></script>
    
    <script src="/js/moment-with-locales.min.js"></script>
    
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    
    <script src="/js/plugins/bootstrap-table.min.js"></script>
    
    <script src="/js/plugins/bootstrap-table-zh-CN.min.js"></script>
    
	<div class="container">
		
		 <ul id="myTab" class="nav nav-tabs">
			<li class="active">
				<a href="#home" data-toggle="tab">
					 权限列表
				</a>
			</li>
			<li><a href="#ios" data-toggle="tab">用户组</a></li>
			<li class="dropdown">
				<a href="#" id="myTabDrop1" class="dropdown-toggle" 
				   data-toggle="dropdown">java 
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
					<li><a href="#jmeter" tabindex="-1" data-toggle="tab">jmeter</a></li>
					<li><a href="#ejb" tabindex="-1" data-toggle="tab">ejb</a></li>
				</ul>
			</li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="home">
			    <!-- 权限列表 -->
				<div class="panel panel-default" th:each="ac,acStat:${actionColumns}">
				  <div class="panel-heading">
				    <h4 th:text="${ac.actioncolumnname}"></h4>
				    <a href="/system/power/syspower/saveActionForm/saveAction">添加action</a>
				    <a href="/system/power/syspower/addActionColumnForm/saveActionColumn">添加分栏</a>
				   </div>
		
				 <table class="table">
			      
				   	<tr th:if="${acStat.index} eq 0">
					   	<td>id</td>
					   	<td>action名称</td>
					   	<td>所在分栏</td>
					   	<td>url</td>
					   	<td>操作</td>
				   	</tr>
		
				   
				   	<tr th:each="a:${ac.actions}">
				   	    <td th:text="${a.actionid}"></td>
				   		<td th:text="${a.actionname}"></td>
				   		<td th:text="${ac.actioncolumnname}"></td>
				   		<td th:text="${a.action}"></td>
				   		<td>
							<a id="btn_update" th:href="@{'/system/power/syspower/updateActionForm/'+${a.actionid}}" class="btn btn-default">
						        <span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span>修改
						    </a>
						    <a id="btn_delete" th:href="@{'/system/power/syspower/deleteAction/'+${a.actionid}}" class="btn btn-default" >
						        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
						    </a>
						    <a id="btn_add" href="#" class="btn btn-default">
						        <span class="glyphicon glyphicon-plus" aria-hidden="true">新增</span>
						    </a>
				   		</td>
				   	</tr>
				   
		      </table>
				</div>
				<!-- /权限列表 -->
			</div>
			<div class="tab-pane fade" id="ios">
				<!-- 用户组列表 -->
				<a href="/system/power/syspower/addGroupForm"><i class="fa fa-fw fa-twitter"></i> 添加用户组</a>
				<div class="panel panel-default" th:each="g,gStat:${groups}">
				  
				  <div class="panel-heading"  >
				    <h4 th:text="${g.groupname}"></h4>
				    <a th:href="@{'/system/power/syspower/addActionGroupForm/saveActionGroup/'+${g.groupid}}">添加权限</a>
				    <a href="/system/power/syspower/addGroupForm/saveGroup">添加用户组</a>
				    <a th:href="@{'/system/power/syspower/deleteGroup/'+${g.groupid}}">删除用户组</a>
				   </div>
		
				 <table class="table">
				   <th th:if="${gStat.index} eq 0">
				   	<tr>
					   	<td>id</td>
					   	<td>action名称</td>
					   	<td>所在分栏</td>
					   	<td>url</td>
					   
				   	</tr>
				   </th>
				   <tbody>
				 
				   	<tr th:each="a:${g.actionGroups}">
				   	    <td th:text="${a.action.actionid}"></td>
				   		<td th:text="${a.action.actionname}"></td>
				   		<td th:text="${a.action.actionColumn.actioncolumnname}"></td>
				   		<td th:text="${a.action.action}"></td>
				   		
				   	</tr>
				   	
				   	
				   </tbody>
		         </table>
				</div>
				<!-- /用户组列表 -->
			</div>
			
		</div>
	</div>
   
    
  </body>
</html>
